src/lambda_codebase/initial_commit/bootstrap_repository/adf-bootstrap/deployment/global.yml
# Copyright Amazon.com Inc. or its affiliates.
# SPDX-License-Identifier: Apache-2.0

AWSTemplateFormatVersion: "2010-09-09"
Transform: "AWS::Serverless-2016-10-31"
Description: ADF CloudFormation Template (Global) for Deployment Account

Parameters:
  ADFVersion:
    Type: "AWS::SSM::Parameter::Value<String>"
    Default: /adf/adf_version

  ADFLogLevel:
    Type: "AWS::SSM::Parameter::Value<String>"
    Default: /adf/adf_log_level

  ManagementAccountId:
    Type: "AWS::SSM::Parameter::Value<String>"
    Default: /adf/management_account_id

  SharedModulesBucket:
    Type: "AWS::SSM::Parameter::Value<String>"
    Default: /adf/shared_modules_bucket

  BootstrapTemplatesBucketName:
    Type: "AWS::SSM::Parameter::Value<String>"
    Description: Bootstrap Templates Bucket Name
    Default: /adf/bootstrap_templates_bucket

  OrganizationId:
    Type: "AWS::SSM::Parameter::Value<String>"
    Default: /adf/organization_id

  CrossAccountAccessRole:
    Type: "AWS::SSM::Parameter::Value<String>"
    Default: /adf/cross_account_access_role

  Image:
    Description: The Image you wish to use for CodeBuild (defaults to Ubuntu - standard:7.0).
    Type: String
    Default: "aws/codebuild/standard:7.0"

  ComputeType:
    Description: The Compute Type to use for AWS CodeBuild
    Type: String
    Default: "BUILD_GENERAL1_SMALL"
    AllowedValues:
      - "BUILD_GENERAL1_SMALL"  # 3 GB memory, 2 vCPU
      - "BUILD_GENERAL1_MEDIUM"  # 7 GB memory, 4 vCPU
      - "BUILD_GENERAL1_LARGE"  # 15 GB memory, 8 vCPU

  NotificationEndpoint:
    Type: "AWS::SSM::Parameter::Value<String>"
    Default: /adf/notification_endpoint

  NotificationType:
    Type: "AWS::SSM::Parameter::Value<String>"
    Default: /adf/notification_type

  PipelinePrefix:
    Description: The Prefix that will be attached to pipeline stacks and names for ADF.
    Type: String
    Default: "adf-pipeline-"

  StackPrefix:
    Description: The Prefix that will be attached to stacks deployed via ADF.
    Type: String
    Default: "adf-"

  ADFTerraformExtension:
    Type: "AWS::SSM::Parameter::Value<String>"
    Default: /adf/extensions/terraform/enabled

Conditions:
  ADFTerraformExtensionEnabled:
    !Equals [!Ref ADFTerraformExtension, "True"]

Globals:
  Function:
    Architectures:
      - arm64
    CodeUri: lambda_codebase
    Runtime: python3.12

Resources:
  ADFSharedPythonLambdaLayerVersion:
    Type: "AWS::Serverless::LayerVersion"
    Properties:
      ContentUri: "../../adf-build/shared/python"
      CompatibleArchitectures:
        - arm64
      CompatibleRuntimes:
        - python3.12
      Description: "Shared Lambda Layer between management and deployment account"
      LayerName: adf_shared_layer
    Metadata:
      BuildMethod: python3.12
      BuildArchitecture: arm64

  KMSKey:
    Type: AWS::KMS::Key
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      Description: Used by Assumed Roles in Accounts accounts to Encrypt/Decrypt code
      EnableKeyRotation: true
      KeyPolicy:
        Version: "2012-10-17"
        Id: !Ref AWS::StackName
        Statement:
          - Sid: Allows admin of the key
            Effect: Allow
            Principal:
              AWS: !Sub arn:${AWS::Partition}:iam::${AWS::AccountId}:root
            Action:
              - "kms:CancelKeyDeletion"
              - "kms:Create*"
              - "kms:Decrypt"
              - "kms:Delete*"
              - "kms:Describe*"
              - "kms:DescribeKey"
              - "kms:Disable*"
              - "kms:Enable*"
              - "kms:Encrypt"
              - "kms:GenerateDataKey*"
              - "kms:Get*"
              - "kms:List*"
              - "kms:Put*"
              - "kms:ReEncrypt*"
              - "kms:Revoke*"
              - "kms:ScheduleKeyDeletion"
              - "kms:Update*"
            Resource: "*"
          - Sid: Allow use of the key
            Effect: Allow
            Principal:
              AWS: "*"
            Action:
              - kms:Decrypt
              - kms:DescribeKey
              - kms:Encrypt
              - kms:GenerateDataKey*
              - kms:ReEncryptFrom
              - kms:ReEncryptTo
            Resource: "*"
            Condition:
              StringEquals:
                aws:PrincipalOrgID: !Ref OrganizationId
          - Action:
              - kms:Decrypt
              - kms:GenerateDataKey*
            Effect: Allow
            Principal:
              Service:
                - sns.amazonaws.com
                - codecommit.amazonaws.com
            Resource: "*"
            Condition:
              StringEquals:
                "aws:SourceAccount": !Ref AWS::AccountId
          - Action:
              - kms:Decrypt
              - kms:GenerateDataKey*
            Effect: Allow
            Principal:
              Service:
                - events.amazonaws.com
            Resource: "*"
            Condition:
              ArnLike:
                "aws:SourceArn": !Sub "arn:${AWS::Partition}:events:${AWS::Region}:${AWS::AccountId}:rule/*"

  KMSAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: !Sub "alias/codepipeline-${AWS::AccountId}"
      TargetKeyId: !Ref KMSKey

  PipelineBucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      AccessControl: BucketOwnerFullControl
      OwnershipControls:
        Rules:
          - ObjectOwnership: BucketOwnerEnforced
      VersioningConfiguration:
        Status: Enabled
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  PipelineManagementApplication:
    Type: AWS::Serverless::Application
    DeletionPolicy: Delete
    UpdateReplacePolicy: Retain
    Properties:
      Location: pipeline_management.yml
      Parameters:
        LambdaLayer: !Ref ADFSharedPythonLambdaLayerVersion
        ADFVersion: !Ref ADFVersion
        OrganizationId: !Ref OrganizationId
        PipelineBucket: !Ref PipelineBucket
        PipelineBucketKmsKeyArn: !GetAtt KMSKey.Arn
        ManagementAccountId: !Ref ManagementAccountId
        CodeBuildImage: !Ref Image
        CodeBuildComputeType: !Ref ComputeType
        SharedModulesBucket: !Ref SharedModulesBucket
        PipelinePrefix: !Ref PipelinePrefix
        StackPrefix: !Ref StackPrefix
        ADFLogLevel: !Ref ADFLogLevel

  CodeCommitRole:
    Type: AWS::IAM::Role
    Properties:
      Path: /
      RoleName: "adf-codecommit-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              AWS: !GetAtt CodePipelineRole.Arn
            Action:
              - sts:AssumeRole
          - Effect: Allow
            Principal:
              Service:
                - codepipeline.amazonaws.com
            Action:
              - sts:AssumeRole
            Condition:
              StringEqualsIfExists:
                "aws:SourceAccount": !Ref AWS::AccountId

  CodeCommitPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-codecommit-role-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - "codecommit:CancelUploadArchive"
              - "codecommit:GetBranch"
              - "codecommit:GetCommit"
              - "codecommit:GetUploadArchiveStatus"
              - "codecommit:GitPull"
              - "codecommit:UploadArchive"
              - "codepipeline:StartPipelineExecution"
              - "events:PutEvents"
            Resource: "*"
          - Effect: Allow
            Action:
              - "s3:PutObject"
            Resource:
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}/*
          - Effect: Allow
            Action:
              - "kms:Decrypt"
              - "kms:Encrypt"
              - "kms:GenerateDataKey"
              - "kms:ReEncryptFrom"
              - "kms:ReEncryptTo"
            Resource: !GetAtt KMSKey.Arn
      Roles:
        - !Ref CodeCommitRole

  CodeBuildRole:
    Type: AWS::IAM::Role
    Properties:
      Path: /
      RoleName: "adf-codebuild-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - codebuild.amazonaws.com
            Action:
              - sts:AssumeRole
            Condition:
              ArnLike:
                "aws:SourceArn": !Sub "arn:${AWS::Partition}:codebuild:${AWS::Region}:${AWS::AccountId}:project/*"

  CodeBuildRolePolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-codebuild-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "S3ReadOnly"
            Action:
              - s3:GetObject
              - s3:GetBucketPolicy
              - s3:ListBucket
            Resource:
              - !Sub arn:${AWS::Partition}:s3:::${SharedModulesBucket}
              - !Sub arn:${AWS::Partition}:s3:::${SharedModulesBucket}/*
              - !Sub arn:${AWS::Partition}:s3:::${PipelineManagementApplication.Outputs.DefinitionBucket}
              - !Sub arn:${AWS::Partition}:s3:::${PipelineManagementApplication.Outputs.DefinitionBucket}/*
          - Effect: Allow
            Action:
              - "organizations:DescribeOrganization"
            Resource:
              - "*"
          - Effect: Allow
            Action:
              - "sts:AssumeRole"
            Resource:
              - !Sub arn:${AWS::Partition}:iam::*:role/adf-readonly-automation-role
              - !Sub arn:${AWS::Partition}:iam::*:role/adf/organizations/adf-organizations-readonly
            Condition:
              StringEquals:
                aws:PrincipalOrgID: !Ref OrganizationId
          - Effect: Allow
            Action:
              - "ssm:GetParameter"
              - "ssm:GetParameters"
            Resource:
              - !Sub arn:${AWS::Partition}:ssm:${AWS::Region}:${AWS::AccountId}:parameter/adf/*
              - !Sub arn:${AWS::Partition}:ssm:${AWS::Region}::parameter/aws/service/*
          - Effect: Deny
            Action:
              - "sts:AssumeRole"
            Resource:
              - !GetAtt CloudFormationDeploymentRole.Arn
              - !Sub arn:${AWS::Partition}:iam::${ManagementAccountId}:role/${CrossAccountAccessRole}
          - Effect: Allow
            Action:
              - "logs:CreateLogGroup"
              - "logs:CreateLogStream"
              - "logs:PutLogEvents"
            Resource:
              - !Sub arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/codebuild/*
          - Effect: Allow
            Action:  # If you plan on building docker images in CodeBuild you need these
              - "ecr:GetAuthorizationToken"
              - "ecr:InitiateLayerUpload"
              - "ecr:UploadLayerPart"
              - "ecr:CompleteLayerUpload"
              - "ecr:BatchCheckLayerAvailability"
              - "ecr:PutImage"
              - "ecr:BatchGetImage"
              - "ecr:GetDownloadUrlForLayer"
            Resource:
              - "*"
          - Effect: Allow
            Sid: "CodeBuildVPC"
            Action:
              - "ec2:CreateNetworkInterface"
              - "ec2:DescribeDhcpOptions"
              - "ec2:DescribeNetworkInterfaces"
              - "ec2:DeleteNetworkInterface"
              - "ec2:DescribeSubnets"
              - "ec2:DescribeSecurityGroups"
              - "ec2:DescribeVpcs"
            Resource:
              - "*"
          - Effect: Allow
            Sid: "CodeBuildENI"
            Action:
              - "ec2:CreateNetworkInterfacePermission"
            Resource:
              - "*"
            Condition:
              StringEquals:
                ec2:AuthorizedService: "codebuild.amazonaws.com"
      Roles:
        - !Ref CodeBuildRole

  CodeBuildDeployBucketRolePolicyS3:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-codebuild-role-policy-s3"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "S3"
            Action:
              - s3:GetObject
              - s3:GetBucketPolicy
              - s3:ListBucket
              - s3:PutObject
            Resource:
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}/*
      Roles:
        - !Ref CodeBuildRole

  CodeBuildDeployBucketRolePolicyKMS:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-codebuild-role-policy-kms"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "KMS"
            Action:
              - kms:Decrypt
              - kms:DescribeKey
              - kms:Encrypt
              - kms:GenerateDataKey
              - kms:ReEncryptFrom
              - kms:ReEncryptTo
            Resource: !GetAtt KMSKey.Arn
      Roles:
        - !Ref CodeBuildRole

  CodeBuildTerraformAssumeRolePolicy:
    Condition: ADFTerraformExtensionEnabled
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-codebuild-tf-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "DynamoDB"
            Action:
              - dynamodb:PutItem
              - dynamodb:GetItem
              - dynamodb:DeleteItem
              - dynamodb:DescribeTable
            Resource:
              - !Sub "arn:${AWS::Partition}:dynamodb:*:${AWS::AccountId}:table/adf-tflocktable*"
          - Effect: Allow
            Action:
              - "sts:AssumeRole"
            Resource:
              - !Sub arn:${AWS::Partition}:iam::*:role/adf-terraform-role
            Condition:
              StringEquals:
                aws:PrincipalOrgID: !Ref OrganizationId
      Roles:
        - !Ref CodeBuildRole

  PipelineGenerationProvisionerCodeBuildRole:
    Type: AWS::IAM::Role
    Properties:
      Path: /adf/bootstrap/
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - codebuild.amazonaws.com
            Action:
              - sts:AssumeRole
            Condition:
              ArnEquals:
                "aws:SourceArn": !Sub "arn:${AWS::Partition}:codebuild:${AWS::Region}:${AWS::AccountId}:project/aws-deployment-framework-base"

  PipelineGenerationProvisionerCodeBuildRolePolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-pipeline-generation-provisioner-codebuild-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "S3"
            Action:
              - s3:GetBucketPolicy
              - s3:GetObject
              - s3:GetObjectAttributes
              - s3:ListBucket
              - s3:PutObject
              - s3:DeleteObject
              - s3:DeleteObjectVersion
            Resource:
              - !Sub arn:${AWS::Partition}:s3:::${PipelineManagementApplication.Outputs.Bucket}
              - !Sub arn:${AWS::Partition}:s3:::${PipelineManagementApplication.Outputs.Bucket}/*
          - Effect: Allow
            Sid: "S3ReadOnly"
            Action:
              - s3:GetObject
              - s3:GetBucketPolicy
              - s3:ListBucket
            Resource:
              - !Sub arn:${AWS::Partition}:s3:::${SharedModulesBucket}
              - !Sub arn:${AWS::Partition}:s3:::${SharedModulesBucket}/*
          - Effect: Allow
            Sid: "PipelineAssets"
            Action:
              - s3:PutObject
            Resource:
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}/adf-build/templates/*
          - Effect: Allow
            Sid: "KMS"
            Action:
              - kms:Decrypt
              - kms:DescribeKey
              - kms:Encrypt
              - kms:GenerateDataKey*
              - kms:ReEncryptFrom
              - kms:ReEncryptTo
            Resource: !GetAtt KMSKey.Arn
          - Effect: Allow
            Action:
              - "logs:CreateLogGroup"
              - "logs:CreateLogStream"
              - "logs:PutLogEvents"
            Resource:
              - !Sub arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/codebuild/*
          - Effect: Allow
            Sid: "KickOffDeletion"
            Action:
              - "states:StartExecution"
            Resource:
              - !Sub arn:${AWS::Partition}:states:${AWS::Region}:${AWS::AccountId}:stateMachine:adf-pipeline-management-delete-outdated
          - Effect: Allow
            Sid: "DescripePipelineTrigger"
            Action:
              - "codepipeline:ListPipelineExecutions"
            Resource:
              - !Sub arn:${AWS::Partition}:codepipeline:${AWS::Region}:${AWS::AccountId}:aws-deployment-framework-pipelines
      Roles:
        - !Ref PipelineGenerationProvisionerCodeBuildRole

  CloudFormationRole:
    Type: AWS::IAM::Role
    Properties:
      Path: /
      RoleName: "adf-cloudformation-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              AWS: !GetAtt CodePipelineRole.Arn
            Action:
              - sts:AssumeRole
          - Effect: Allow
            Principal:
              Service:
                - codepipeline.amazonaws.com
            Action:
              - sts:AssumeRole
            Condition:
              StringEqualsIfExists:
                "aws:SourceAccount": !Ref AWS::AccountId

  CloudFormationPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-cloudformation-role-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "CloudFormation"
            Action:
              - cloudformation:ValidateTemplate
              - cloudformation:CreateStack
              - cloudformation:DeleteStack
              - cloudformation:DescribeStackEvents
              - cloudformation:DescribeStacks
              - cloudformation:UpdateStack
              - cloudformation:CreateChangeSet
              - cloudformation:DeleteChangeSet
              - cloudformation:DescribeChangeSet
              - cloudformation:ExecuteChangeSet
              - cloudformation:SetStackPolicy
              - cloudformation:ValidateTemplate
            Resource: "*"
          - Effect: Allow
            Sid: "CloudFormationPassRole"
            Action:
              - iam:PassRole
            Resource:
              - !Sub arn:${AWS::Partition}:iam::*:role/adf-cloudformation-deployment-role
            Condition:
              StringEquals:
                aws:PrincipalOrgID: !Ref OrganizationId
              StringEqualsIfExists:
                "iam:PassedToService":
                  - "cloudformation.amazonaws.com"
          - Effect: Allow
            Sid: "CloudFormationGetAssets"
            Action:
              - s3:GetObject
              - s3:ListBucket
              - s3:PutObject
            Resource:
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}/*
      Roles:
        - !Ref CloudFormationRole
  CloudFormationPolicyKMS:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-cloudformation-role-policy-kms"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "KMS"
            Action:
              - kms:Decrypt
              - kms:DescribeKey
              - kms:Encrypt
              - kms:GenerateDataKey*
              - kms:ReEncryptFrom
              - kms:ReEncryptTo
            Resource: !GetAtt KMSKey.Arn
      Roles:
        - !Ref CloudFormationRole

  CloudFormationDeploymentRole:
    Type: AWS::IAM::Role
    Properties:
      Path: /
      RoleName: "adf-cloudformation-deployment-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - cloudformation.amazonaws.com
            Action:
              - sts:AssumeRole
            Condition:
              StringEqualsIfExists:
                "aws:SourceAccount": !Ref AWS::AccountId

  AdfAutomationRole:
    # This role is used by CodeBuild on the Deployment Account when
    # creating new CodePipeline Pipelines.
    # This role is not assumed by CodeBuild in any other pipeline
    # other than 'aws-deployment-framework-pipelines'
    Type: AWS::IAM::Role
    Properties:
      Path: /
      RoleName: "adf-automation-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "AssumeRole"
            Condition:
              ArnEquals:
                "aws:PrincipalArn":
                  - !GetAtt PipelineManagementApplication.Outputs.CreateRepositoryLambdaRoleArn
                  - !GetAtt PipelineManagementApplication.Outputs.CreateOrUpdateRuleLambdaRoleArn
            Principal:
              AWS: !Sub arn:${AWS::Partition}:iam::${AWS::AccountId}:root
            Action:
              - sts:AssumeRole

  CloudFormationDeploymentPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-cloudformation-deployment-role-policy-kms"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "KMS"
            Action:  # These are required for cross account deployments via CodePipeline.
              - "kms:Decrypt"
              - "kms:DescribeKey"
              - "kms:Encrypt"
              - "kms:GenerateDataKey*"
              - "kms:ReEncryptFrom"
              - "kms:ReEncryptTo"
            Resource: !GetAtt KMSKey.Arn
      Roles:
        - !Ref CloudFormationDeploymentRole

  AdfAutomationRolePolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-automation-role-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "S3"
            Action:
              - s3:GetObject
            Resource:
              - !Sub "arn:${AWS::Partition}:s3:::${PipelineBucket}/adf-build/templates/*"
          - Effect: Allow
            Sid: "CloudFormation"
            Action:
              - "cloudformation:CancelUpdateStack"
              - "cloudformation:ContinueUpdateRollback"
              - "cloudformation:CreateChangeSet"
              - "cloudformation:CreateStack"
              - "cloudformation:DeleteChangeSet"
              - "cloudformation:DeleteStack"
              - "cloudformation:DescribeChangeSet"
              - "cloudformation:DescribeStacks"
              - "cloudformation:ExecuteChangeSet"
              - "cloudformation:SetStackPolicy"
              - "cloudformation:SignalResource"
              - "cloudformation:UpdateStack"
              - "cloudformation:UpdateTerminationProtection"
            Resource:
              - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/adf-codecommit-*/*"
              - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/adf-event-rule-${AWS::AccountId}-*/*"
          - Effect: Allow
            Sid: "CodeCommit"
            Action:
              - "codecommit:CreateRepository"
              - "codecommit:UpdateRepositoryDescription"
              - "codecommit:PutRepositoryTriggers"
              - "codecommit:GetRepository"
              - "codecommit:TagResource"
              - "codecommit:UntagResource"
            Resource:
              - "*"
          - Effect: Allow
            Sid: "Events"
            Action:
              - "events:DescribeRule"
              - "events:EnableRule"
              - "events:ListRules"
              - "events:PutEvents"
              - "events:PutRule"
              - "events:PutTargets"
              - "cloudformation:ValidateTemplate"
            Resource:
              - "*"
          - Effect: Allow
            Sid: "SSM"
            Action:
              - "ssm:GetParameters"
              - "ssm:GetParameter"
            Resource:
              - !Sub "arn:${AWS::Partition}:ssm:*:${AWS::AccountId}:parameter/adf/bucket_name"
              - !Sub "arn:${AWS::Partition}:ssm:*:${AWS::AccountId}:parameter/adf/deployment_account_id"
              - !Sub "arn:${AWS::Partition}:ssm:*:${AWS::AccountId}:parameter/adf/kms_arn"
          - Effect: Allow
            Sid: "KMS"
            Action:
              # These are required for cross account deployments via CodePipeline.
              - "kms:Decrypt"
              - "kms:DescribeKey"
            Resource: !GetAtt KMSKey.Arn
      Roles:
        - !Ref AdfAutomationRole

  CodeCommitRepository:
    Type: AWS::CodeCommit::Repository
    Properties:
      RepositoryName: "aws-deployment-framework-pipelines"
      RepositoryDescription: !Sub "CodeCommit Repo for all pipelines in ${AWS::AccountId}"
      Triggers:
        - Name: Email
          DestinationArn: !Ref PipelineSNSTopic
          Branches:
            - master
            - main
          Events:
            - all

  CodeBuildProject:
    Type: AWS::CodeBuild::Project
    Properties:
      Artifacts:
        Type: CODEPIPELINE
      Environment:
        ComputeType: "BUILD_GENERAL1_SMALL"
        Image: !Ref Image
        EnvironmentVariables:
          - Name: PYTHONPATH
            Value: "./adf-build/:./adf-build/python/"
          - Name: ACCOUNT_ID
            Value: !Ref AWS::AccountId
          - Name: SHARED_MODULES_BUCKET
            Value: !Ref SharedModulesBucket
          - Name: ADF_PIPELINE_ASSET_BUCKET
            Value: !Ref PipelineBucket
          - Name: ADF_PIPELINE_ASSET_KMS_ARN
            Value: !GetAtt KMSKey.Arn
          - Name: ADF_PIPELINES_MANAGEMENT_BUCKET
            Value: !GetAtt PipelineManagementApplication.Outputs.Bucket
          - Name: ADF_LOG_LEVEL
            Value: INFO
          - Name: ADF_VERSION
            Value: !Ref ADFVersion
        Type: LINUX_CONTAINER
      Name: "aws-deployment-framework-base"
      Source:
        Type: CODEPIPELINE
        BuildSpec: !Sub |
          version: 0.2
          phases:
            install:
              runtime-versions:
                python: 3.12
              commands:
                - aws s3 cp s3://$SHARED_MODULES_BUCKET/adf-build/ ./adf-build/ --recursive --only-show-errors
                - aws s3 cp --sse aws:kms --sse-kms-key-id $ADF_PIPELINE_ASSET_KMS_ARN ./adf-build/templates/ s3://$ADF_PIPELINE_ASSET_BUCKET/adf-build/templates/ --recursive --only-show-errors
                - |
                  if [ "${AWS::Region}" = "cn-north-1" ]; then
                    pip config set global.index-url https://pypi.tuna.tsinghua.edu.cn/simple
                  fi
                - pip install -r adf-build/requirements.txt -r adf-build/helpers/requirements.txt -q -t ./adf-build
            pre_build:
              commands:
                - mkdir -p deployment_maps
            build:
              commands:
                - python adf-build/helpers/describe_codepipeline_trigger.py --should-match StartPipelineExecution aws-deployment-framework-pipelines ${!CODEPIPELINE_EXECUTION_ID} && EXTRA_OPTS="--force" || EXTRA_OPTS=""
                - python adf-build/helpers/sync_to_s3.py ${!EXTRA_OPTS} --delete --metadata adf_version=${!ADF_VERSION} --upload-with-metadata execution_id=${!CODEPIPELINE_EXECUTION_ID} deployment_map.yml s3://$ADF_PIPELINES_MANAGEMENT_BUCKET/deployment_map.yml
                - python adf-build/helpers/sync_to_s3.py ${!EXTRA_OPTS} --delete --extension .yml --extension .yaml  --metadata adf_version=${!ADF_VERSION} --upload-with-metadata execution_id=${!CODEPIPELINE_EXECUTION_ID} --recursive deployment_maps s3://$ADF_PIPELINES_MANAGEMENT_BUCKET/deployment_maps
            post_build:
              commands:
                - echo "Kick-off deletion of outdated pipelines:"
                - aws stepfunctions start-execution --state-machine-arn "arn:${AWS::Partition}:states:${AWS::Region}:${AWS::AccountId}:stateMachine:adf-pipeline-management-delete-outdated"
                - echo ""
                - echo "Pipelines are updated in the AWS Step Functions adf-pipeline-management."
                - echo "Please track their progress via:"
                - echo "https://${AWS::Region}.console.aws.amazon.com/states/home?region=${AWS::Region}#/statemachines/view/arn:${AWS::Partition}:states:${AWS::Region}:${AWS::AccountId}:stateMachine:adf-pipeline-management"
      ServiceRole: !GetAtt PipelineGenerationProvisionerCodeBuildRole.Arn
      Tags:
        - Key: "Name"
          Value: "aws-deployment-framework-base"

  PipelineManagementCodePipelineRole:
    Type: AWS::IAM::Role
    Properties:
      Path: /adf/pipeline-management/
      RoleName: "adf-pipeline-management-codepipeline"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - codepipeline.amazonaws.com
            Action:
              - sts:AssumeRole
            Condition:
              StringEqualsIfExists:
                "aws:SourceAccount": !Ref AWS::AccountId

  PipelineManagementCodePipelinePolicy:
    Type: AWS::IAM::Policy
    DependsOn: PipelineBucketPolicy
    Properties:
      PolicyName: "adf-pipeline-management-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "CodeBuild"
            Action:
              - codebuild:BatchGetBuilds
              - codebuild:StartBuild
            Resource:
              - !GetAtt CodeBuildProject.Arn
          - Effect: Allow
            Sid: "CodePipelineAssets"
            Action:
              - s3:GetObjectVersion
              - s3:GetObjectVersionAcl
              - s3:GetObjectVersionTagging
              - s3:GetReplicationConfiguration
              - s3:ListBucket
              - s3:PutObject
              - s3:ReplicateDelete
              - s3:ReplicateObject
              - s3:ReplicateTags
            Resource:
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}/*
          - Effect: Allow
            Sid: "CodeCommit"
            Action:
              - codecommit:GetBranch
              - codecommit:GetCommit
              - codecommit:UploadArchive
              - codecommit:GetUploadArchiveStatus
              - codecommit:CancelUploadArchive
            Resource:
              - !GetAtt CodeCommitRepository.Arn
          - Effect: Allow
            Action:
              - kms:Decrypt
              - kms:Encrypt
              - kms:GenerateDataKey
              - kms:ReEncryptFrom
              - kms:ReEncryptTo
            Resource: !GetAtt KMSKey.Arn
      Roles:
        - !Ref PipelineManagementCodePipelineRole

  CodePipeline:
    Type: AWS::CodePipeline::Pipeline
    Properties:
      ArtifactStore:
        EncryptionKey:
          Id: !GetAtt KMSKey.Arn
          Type: KMS
        Type: S3
        Location: !Ref PipelineBucket
      RoleArn: !GetAtt PipelineManagementCodePipelineRole.Arn
      RestartExecutionOnUpdate: true
      Name: "aws-deployment-framework-pipelines"
      Stages:
        - Name: CodeCommit
          Actions:
            - Name: Source
              ActionTypeId:
                Category: Source
                Owner: AWS
                Version: "1"
                Provider: CodeCommit
              OutputArtifacts:
                - Name: "Source"
              Configuration:
                BranchName: !GetAtt DetermineDefaultBranchName.DefaultBranchName
                RepositoryName: !GetAtt CodeCommitRepository.Name
                PollForSourceChanges: false
              RunOrder: 1
        - Name: KickoffCreateOrUpdatePipelines
          Actions:
            - Name: CreateOrUpdate
              ActionTypeId:
                Category: Build
                Owner: AWS
                Version: "1"
                Provider: CodeBuild
              OutputArtifacts:
                - Name: "aws-deployment-pipelines-build"
              InputArtifacts:
                - Name: "Source"
              Configuration:
                ProjectName: !Ref CodeBuildProject
                EnvironmentVariables: >-
                  [
                    {
                      "name": "CODEPIPELINE_EXECUTION_ID",
                      "value": "#{codepipeline.PipelineExecutionId}",
                      "type": "PLAINTEXT"
                    }
                  ]
              RunOrder: 1

  PipelineSNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      KmsMasterKeyId: "alias/aws/sns"
      Subscription:
        - Endpoint: !Ref NotificationEndpoint
          Protocol: !Ref NotificationType

  PipelineEventRule:
    Type: "AWS::Events::Rule"
    Properties:
      Description: "Trigger notifications based on pipeline state changes"
      EventPattern:
        source:
          - "aws.codepipeline"
        detail-type:
          - "CodePipeline Pipeline Execution State Change"
        detail:
          state:
            - "FAILED"
            - "SUCCEEDED"
          pipeline:
            - !Ref CodePipeline
      State: "ENABLED"
      Targets:
        - Arn: !Ref PipelineSNSTopic
          Id: !Sub "${AWS::StackName}"
          InputTransformer:
            InputTemplate: '"The pipeline <pipeline> from account <account> has <state> at <at>."'
            InputPathsMap:
              pipeline: "$.detail.pipeline"
              state: "$.detail.state"
              at: "$.time"
              account: "$.account"

  PipelineSNSTopicPolicy:
    Type: AWS::SNS::TopicPolicy
    Properties:
      PolicyDocument:
        Id: !Sub "${AWS::StackName}"
        Version: "2012-10-17"
        Statement:
          - Sid: "AllowCodeCommitAndEvents"
            Effect: Allow
            Principal:
              Service:
                - codecommit.amazonaws.com
                - events.amazonaws.com
            Action: sns:Publish
            Resource: "*"
            Condition:
              StringEquals:
                "aws:SourceAccount": !Ref AWS::AccountId
          - Sid: "AllowStateMachine"
            Effect: Allow
            Principal:
              Service:
                - states.amazonaws.com
            Action: sns:Publish
            Resource: "*"
            Condition:
              ArnLike:
                "aws:SourceArn": !Sub "arn:${AWS::Partition}:states:${AWS::Region}:${AWS::AccountId}:stateMachine:*"
      Topics:
        - !Ref PipelineSNSTopic

  CodePipelineRole:
    Type: AWS::IAM::Role
    Properties:
      Path: /
      RoleName: "adf-codepipeline-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - codepipeline.amazonaws.com
            Action:
              - sts:AssumeRole
            Condition:
              StringEqualsIfExists:
                "aws:SourceAccount": !Ref AWS::AccountId

  CodePipelineRolePolicy:
    # See https://docs.aws.amazon.com/codepipeline/latest/userguide/how-to-custom-role.html#how-to-update-role-new-services
    Type: AWS::IAM::Policy
    DependsOn: PipelineBucketPolicy
    Properties:
      PolicyName: "adf-codepipeline-role-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "CodePipeline"
            Action:
              - cloudformation:CreateStack
              - cloudformation:DeleteStack
              - cloudformation:DescribeStacks
              - cloudformation:UpdateStack
              - cloudformation:CreateChangeSet
              - cloudformation:DeleteChangeSet
              - cloudformation:DescribeChangeSet
              - cloudformation:ExecuteChangeSet
              - cloudformation:SetStackPolicy
              - cloudformation:ValidateTemplate
              - codebuild:BatchGetBuilds
              - codebuild:StartBuild
              - ecr:DescribeImages
              - ecs:DescribeServices
              - ecs:DescribeTaskDefinition
              - ecs:DescribeTasks
              - ecs:ListTasks
              - ecs:RegisterTaskDefinition
              - ecs:UpdateService
              - codedeploy:CreateDeployment
              - codedeploy:GetApplicationRevision
              - codedeploy:GetDeployment
              - codedeploy:GetDeploymentConfig
              - codedeploy:RegisterApplicationRevision
              - lambda:InvokeFunction
              - lambda:ListFunctions
              - servicecatalog:CreateProvisioningArtifact
              - servicecatalog:DeleteProvisioningArtifact
              - servicecatalog:DescribeProvisioningArtifact
              - servicecatalog:ListProvisioningArtifacts
              - servicecatalog:UpdateProduct
              - sns:Publish
            Resource:
              - "*"
          - Effect: Allow
            Sid: "CodeCommit"
            Action:
              - codecommit:GetBranch
              - codecommit:GetCommit
              - codecommit:UploadArchive
              - codecommit:GetUploadArchiveStatus
              - codecommit:CancelUploadArchive
            Resource:
              - "*"
          - Effect: Allow
            Sid: "AllowCodeConnections"
            Action:
              - "codeconnections:GetConnection"
              - "codeconnections:GetHost"
              - "codeconnections:ListConnections"
              - "codeconnections:ListHosts"
              - "codeconnections:PassConnection"
              - "codeconnections:UseConnection"
            Resource: "*"
      Roles:
        - !Ref CodePipelineRole

  CodePipelineRolePolicyKMS:
    Type: AWS::IAM::Policy
    DependsOn: PipelineBucketPolicy
    Properties:
      PolicyName: "adf-codepipeline-role-policy-kms"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "KMS"
            Action:
              - kms:Decrypt
              - kms:DescribeKey
              - kms:Encrypt
              - kms:GenerateDataKey*
              - kms:ReEncrypt*
            Resource: !GetAtt KMSKey.Arn
      Roles:
        - !Ref CodePipelineRole

  CodePipelineRolePolicySTS:
    Type: AWS::IAM::Policy
    DependsOn: PipelineBucketPolicy
    Properties:
      PolicyName: "adf-codepipeline-role-policy-sts"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "AssumeRole"
            Action:
              - sts:AssumeRole
            Resource:
              - !Sub arn:${AWS::Partition}:iam::*:role/adf-cloudformation-role
              - !Sub arn:${AWS::Partition}:iam::*:role/adf-codecommit-role
            Condition:
              StringEquals:
                aws:PrincipalOrgID: !Ref OrganizationId
      Roles:
        - !Ref CodePipelineRole

  CodePipelineRolePolicyS3:
    Type: AWS::IAM::Policy
    DependsOn: PipelineBucketPolicy
    Properties:
      PolicyName: "adf-codepipeline-role-policy-s3"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "S3"
            Action:
              - s3:Get*
              - s3:List*
              - s3:Put*
              - s3:ReplicateDelete
              - s3:ReplicateObject
              - s3:ReplicateTags
            Resource:
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}/*
      Roles:
        - !Ref CodePipelineRole

  PipelineBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref "PipelineBucket"
      PolicyDocument:
        Statement:
          - Action:
              - "s3:GetObject"
            Effect: Allow
            Condition:
              StringEquals:
                aws:PrincipalOrgID: !Ref OrganizationId
            Resource:
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}/*
            Principal:
              AWS: "*"
          - Sid: "AllowCodeCommitFromOrgSources"
            Action:
              - "s3:PutObject"
            Effect: Allow
            Condition:
              StringEquals:
                aws:PrincipalOrgID: !Ref OrganizationId
              ArnLike:
                aws:PrincipalArn: !Sub 'arn:${AWS::Partition}:iam::*:role/adf-codecommit-role'
            Resource:
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}/*
            Principal:
              AWS: "*"
          - Sid: "DenyUnencryptedObjects"
            Action:
              - "s3:PutObject"
            Effect: Deny
            Condition:
              StringNotEquals:
                "s3:x-amz-server-side-encryption": "aws:kms"
            Resource:
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}/*
            Principal:
              AWS: "*"
          - Sid: "DenyDifferentKMSKey"
            Action:
              - "s3:PutObject"
            Effect: Deny
            Condition:
              ArnNotEqualsIfExists:
                "s3:x-amz-server-side-encryption-aws-kms-key-id": !GetAtt KMSKey.Arn
            Resource:
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}/*
            Principal:
              AWS: "*"
          - Sid: "DenyInsecureConnections"
            Action:
              - "s3:*"
            Effect: Deny
            Condition:
              Bool:
                aws:SecureTransport: "false"
            Resource:
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}/*
            Principal:
              AWS: "*"
          - Sid: "DenyInsecureTLS"
            Action:
              - "s3:*"
            Effect: Deny
            Condition:
              NumericLessThan:
                "s3:TlsVersion": "1.2"
            Resource:
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}
              - !Sub arn:${AWS::Partition}:s3:::${PipelineBucket}/*
            Principal:
              AWS: "*"

  SendSlackNotification:
    Type: "AWS::Serverless::Function"
    Properties:
      Layers:
        - !Ref ADFSharedPythonLambdaLayerVersion
      Description: "ADF Lambda Function - Send Slack Notification"
      FunctionName: SendSlackNotification
      Handler: slack.lambda_handler
      Role: !GetAtt SendSlackNotificationLambdaRole.Arn
      Environment:
        Variables:
          ADF_PIPELINE_PREFIX: !Ref PipelinePrefix
          ADF_LOG_LEVEL: !Ref ADFLogLevel
      Timeout: 10
    Metadata:
      BuildMethod: python3.12

  EnableCrossAccountAccess:
    Type: "AWS::Serverless::Function"
    Properties:
      Layers:
        - !Ref ADFSharedPythonLambdaLayerVersion
      Description: "ADF Lambda Function - EnableCrossAccountAccess"
      MemorySize: 1024
      Environment:
        Variables:
          KMS_KEY_ID: !Ref KMSKey
          S3_BUCKET_NAME: !Ref PipelineBucket
          ADF_LOG_LEVEL: !Ref ADFLogLevel
          DEPLOYMENT_ACCOUNT_ID: !Ref AWS::AccountId
      FunctionName: UpdateCrossAccountIAM
      Handler: enable_cross_account_access.lambda_handler
      Role: !GetAtt EnableCrossAccountAccessLambdaRole.Arn
      Timeout: 900
    Metadata:
      BuildMethod: python3.12

  CheckPipelineStatus:
    Type: "AWS::Serverless::Function"
    Properties:
      Layers:
        - !Ref ADFSharedPythonLambdaLayerVersion
      Description: "ADF Lambda Function - CheckPipelineStatus"
      Environment:
        Variables:
          KMS_KEY_ID: !Ref KMSKey
          S3_BUCKET_NAME: !Ref PipelineBucket
          ADF_LOG_LEVEL: !Ref ADFLogLevel
      FunctionName: CheckPipelineStatus
      Handler: update_pipelines.lambda_handler
      Role: !GetAtt CheckPipelineStatusLambdaRole.Arn
      Timeout: 120
    Metadata:
      BuildMethod: python3.12

  SendSlackNotificationLambdaRole:
    Type: "AWS::IAM::Role"
    Properties:
      Path: /adf/bootstrap/
      RoleName: "adf-pipeline-send-slack-notification-lambda"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "lambda.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      Policies:
        - PolicyName: "adf-send-slack-notification"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "ssm:GetParameter"
                Resource:
                  - !Sub "arn:${AWS::Partition}:ssm:${AWS::Region}:${AWS::AccountId}:parameter/adf/notification_endpoint/*"
              - Effect: Allow
                Action:
                  - "secretsmanager:GetSecretValue"
                Resource:
                  # Only allow Lambda access to get secrets that start with /adf/*
                  - !Sub "arn:${AWS::Partition}:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:/adf/slack/*"

  CheckPipelineStatusLambdaRole:
    Type: "AWS::IAM::Role"
    Properties:
      Path: /adf/bootstrap/
      RoleName: "adf-pipeline-check-pipeline-status-lambda"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "lambda.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      Policies:
        - PolicyName: "adf-check-pipeline-status"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "codepipeline:GetPipelineState"
                  - "codepipeline:StartPipelineExecution"
                Resource:
                  - !Sub "arn:${AWS::Partition}:codepipeline:${AWS::Region}:${AWS::AccountId}:${CodePipeline}"

  EnableCrossAccountAccessLambdaRole:
    Type: "AWS::IAM::Role"
    Properties:
      Path: /adf/bootstrap/
      RoleName: "adf-bootstrap-pipeline-enable-cross-account-access-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "lambda.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      Policies:
        - PolicyName: "adf-enable-cross-account-access"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action: "sts:AssumeRole"
                Resource:
                  - !Sub "arn:${AWS::Partition}:iam::*:role/adf/bootstrap/adf-update-cross-account-access"
                Condition:
                  StringEquals:
                    aws:PrincipalOrgID: !Ref OrganizationId
              - Effect: Allow
                Action:
                  - "ssm:GetParameter"
                Resource:
                  - !Sub "arn:${AWS::Partition}:ssm:${AWS::Region}:${AWS::AccountId}:parameter/adf/cross_region/kms_arn/*"
                  - !Sub "arn:${AWS::Partition}:ssm:${AWS::Region}:${AWS::AccountId}:parameter/adf/cross_region/s3_regional_bucket/*"
              - Effect: Allow
                Action:
                  - "codepipeline:GetPipelineState"
                  - "codepipeline:StartPipelineExecution"
                Resource:
                  - !Sub "arn:${AWS::Partition}:codepipeline:${AWS::Region}:${AWS::AccountId}:${CodePipeline}"
              - Effect: Allow
                Action:
                  - "iam:GetRolePolicy"
                  - "iam:PutRolePolicy"
                Resource:
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-codebuild-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-codepipeline-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-cloudformation-deployment-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-cloudformation-role"

  LambdaPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-lambda-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - "lambda:GetLayerVersion"
            Resource:
              - !Ref ADFSharedPythonLambdaLayerVersion
          - Effect: Allow
            Action:
              - "logs:CreateLogGroup"
              - "logs:CreateLogStream"
              - "logs:PutLogEvents"
            Resource: '*'
      Roles:
        - !Ref SendSlackNotificationLambdaRole
        - !Ref CheckPipelineStatusLambdaRole
        - !Ref EnableCrossAccountAccessLambdaRole

  EnableCrossAccountAccessStatesExecutionRole:
    Type: "AWS::IAM::Role"
    Properties:
      Path: "/adf/bootstrap/"
      RoleName: "adf-bootstrap-enable-cross-account-state-machine"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - states.amazonaws.com
            Action: "sts:AssumeRole"
            Condition:
              ArnLike:
                "aws:SourceArn":
                  - !Sub "arn:${AWS::Partition}:states:${AWS::Region}:${AWS::AccountId}:stateMachine:*"
      Policies:
        - PolicyName: "adf-state-machine-invoke"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "lambda:InvokeFunction"
                Resource:
                  - !GetAtt EnableCrossAccountAccess.Arn
                  - !GetAtt CheckPipelineStatus.Arn
              - Effect: Allow
                Action:
                  - "sns:Publish"
                Resource:
                  - !GetAtt PipelineSNSTopic.TopicArn

  LambdaInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      Principal: sns.amazonaws.com
      SourceArn: !Ref PipelineSNSTopic
      FunctionName: !Ref SendSlackNotification
      SourceAccount: !Ref AWS::AccountId

  EnableCrossAccountAccessStateMachine:
    Type: "AWS::StepFunctions::StateMachine"
    Properties:
      StateMachineName: "adf-bootstrap-enable-cross-account"
      RoleArn: !GetAtt EnableCrossAccountAccessStatesExecutionRole.Arn
      TracingConfiguration:
        Enabled: true
      DefinitionString: !Sub |-
        {
          "Comment": "Enable Cross Account Access from Deployment Account",
          "StartAt": "DetermineEvent",
          "States": {
            "DetermineEvent": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.update_only",
                  "NumericEquals": 1,
                  "Next": "UpdateDeploymentPipelines"
                }, {
                  "Not": {
                    "Variable": "$.error",
                    "NumericEquals": 0
                  },
                  "Next": "NotifyFailure"
                }
              ],
              "Default": "EnableCrossAccountAccessMap"
            },
            "EnableCrossAccountAccessMap": {
              "Type": "Map",
              "Next": "UpdateDeploymentPipelines",
              "Iterator": {
                "StartAt": "EnableCrossAccountAccess",
                "States": {
                  "EnableCrossAccountAccess": {
                    "Type": "Task",
                    "Resource": "${EnableCrossAccountAccess.Arn}",
                    "TimeoutSeconds": 900,
                    "End": true,
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "States.TaskFailed",
                          "ClientError"
                        ],
                        "BackoffRate": 2,
                        "IntervalSeconds": 2,
                        "MaxAttempts": 10
                      }, {
                        "ErrorEquals": [
                          "Lambda.Unknown",
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 2,
                        "MaxAttempts": 6,
                        "BackoffRate": 2
                      }
                    ]
                  }
                }
              },
              "ItemsPath": "$.account_ids",
              "MaxConcurrency": 1,
              "Parameters": {
                "deployment_account_region.$": "$.deployment_account_region",
                "deployment_account_id.$": "$.deployment_account_id",
                "account_id.$": "$$.Map.Item.Value",
                "regions.$": "$.regions"
              },
              "ResultPath": null
            },
            "UpdateDeploymentPipelines": {
              "Type": "Task",
              "Resource": "${CheckPipelineStatus.Arn}",
              "TimeoutSeconds": 60,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "BackoffRate": 1.1,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 10
                }, {
                  "ErrorEquals": [
                    "Lambda.Unknown",
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "NeedToNotifySuccess?"
            },
            "NeedToNotifySuccess?": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.update_only",
                  "NumericEquals": 1,
                  "Next": "Success"
                }
              ],
              "Default": "NotifySuccess"
            },
            "Success": {
                "Type": "Succeed"
            },
            "Failure": {
                "Type": "Fail"
            },
            "NotifySuccess": {
              "Type": "Task",
              "Resource": "arn:${AWS::Partition}:states:::sns:publish",
              "Parameters": {
                "TopicArn": "arn:${AWS::Partition}:sns:${AWS::Region}:${AWS::AccountId}:${PipelineSNSTopic.TopicName}",
                "Message.$": "$.message",
                "Subject": "Success - AWS Deployment Framework Bootstrap"
              },
              "Next": "Success"
            },
            "NotifyFailure": {
              "Type": "Task",
              "Resource": "arn:${AWS::Partition}:states:::sns:publish",
              "Parameters": {
                "TopicArn": "arn:${AWS::Partition}:sns:${AWS::Region}:${AWS::AccountId}:${PipelineSNSTopic.TopicName}",
                "Message.$": "$.error",
                "Subject": "Failure - AWS Deployment Framework Bootstrap"
              },
              "Next": "Failure"
            }
          }
        }

  DetermineDefaultBranchName:
    Type: Custom::DetermineDefaultBranchName
    Properties:
      ServiceToken: !GetAtt DetermineDefaultBranchNameHandler.Arn
      Version: !Ref ADFVersion
      RepositoryArn: !GetAtt CodeCommitRepository.Arn

  DetermineDefaultBranchNameHandler:
    Type: AWS::Serverless::Function
    Properties:
      Handler: handler.lambda_handler
      CodeUri: lambda_codebase/determine_default_branch
      Description: "ADF Lambda Function - BootstrapDetermineDefaultBranchName"
      Policies:
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - codecommit:GetRepository
              Resource: !GetAtt CodeCommitRepository.Arn
      FunctionName: ADFPipelinesDetermineDefaultBranchName
    Metadata:
      BuildMethod: python3.12

  InitialCommit:
    Type: Custom::InitialCommit
    Properties:
      ServiceToken: !GetAtt InitialCommitHandler.Arn
      RepositoryArn: !GetAtt CodeCommitRepository.Arn
      Version: !Ref ADFVersion
      DirectoryName: pipelines_repository
      DefaultBranchName: !GetAtt DetermineDefaultBranchName.DefaultBranchName

  InitialCommitHandler:
    Type: AWS::Serverless::Function
    Properties:
      Handler: handler.lambda_handler
      CodeUri: lambda_codebase/initial_commit
      Description: "ADF Lambda Function - PipelinesCreateInitialCommitFunction"
      Policies:
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - codecommit:GetDifferences
                - codecommit:CreateCommit
                - codecommit:CreatePullRequest
                - codecommit:DeleteBranch
                - codecommit:GetBranch
                - codecommit:CreateBranch
                - codecommit:CreatePullRequest
                - codecommit:DeleteBranch
              Resource: !GetAtt CodeCommitRepository.Arn
      FunctionName: PipelinesCreateInitialCommitFunction
      Timeout: 300
    Metadata:
      BuildMethod: python3.12

  KmsKeyArnParameter:
    Type: "AWS::SSM::Parameter"
    Properties:
      Name: "/adf/kms_arn"
      Type: "String"
      Value: !GetAtt KMSKey.Arn

  PipelineCloudWatchEventRole:
    Type: AWS::IAM::Role
    Properties:
      Path: /adf/bootstrap/
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - events.amazonaws.com
            Action: sts:AssumeRole
            Condition:
              ArnLike:
                "aws:SourceArn": !Sub "arn:${AWS::Partition}:events:${AWS::Region}:${AWS::AccountId}:rule/*"
      Policies:
        - PolicyName: adf-pipelines-execute-cwe
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action: codepipeline:StartPipelineExecution
                Resource: !Sub "arn:${AWS::Partition}:codepipeline:${AWS::Region}:${AWS::AccountId}:${CodePipeline}"

  PipelineCloudWatchEventRule:
    Type: AWS::Events::Rule
    Properties:
      EventPattern:
        source:
          - aws.codecommit
        detail-type:
          - "CodeCommit Repository State Change"
        resources:
          - !Sub "arn:${AWS::Partition}:codecommit:${AWS::Region}:${AWS::AccountId}:${CodeCommitRepository.Name}"
        detail:
          event:
            - referenceCreated
            - referenceUpdated
          referenceType:
            - branch
          referenceName:
            - !GetAtt DetermineDefaultBranchName.DefaultBranchName
      Targets:
        - Arn: !Sub "arn:${AWS::Partition}:codepipeline:${AWS::Region}:${AWS::AccountId}:${CodePipeline}"
          RoleArn: !GetAtt PipelineCloudWatchEventRole.Arn
          Id: adf-codepipeline-trigger-pipeline

  TerraformLockTable:
    Condition: ADFTerraformExtensionEnabled
    Type: "AWS::DynamoDB::Table"
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      AttributeDefinitions:
        - AttributeName: LockID
          AttributeType: S
      KeySchema:
        - AttributeName: LockID
          KeyType: HASH
      BillingMode: PAY_PER_REQUEST
      TableName: adf-tflocktable

  BootstrapTestRole:
    # This role is used to test whether the AWS Account is bootstrapped or not.
    # Do not attach any policies to this role.
    Type: AWS::IAM::Role
    Properties:
      Path: /adf/bootstrap/
      RoleName: "adf-bootstrap-test-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Condition:
              ArnEquals:
                "aws:PrincipalArn": !Sub "arn:${AWS::Partition}:iam::${ManagementAccountId}:role/adf/account-bootstrapping/jump-manager/adf-bootstrapping-jump-manager-role"
            Principal:
              AWS: !Sub "arn:${AWS::Partition}:iam::${ManagementAccountId}:root"
            Action:
              - sts:AssumeRole
      Policies:
        - PolicyName: "lock-down-for-assumerole-test-only"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Deny
                Action: "*"
                Resource: "*"

  BootstrapUpdateDeploymentRole:
    # This role is used to update the bootstrap stacks in the deployment
    # account.
    Type: AWS::IAM::Role
    Properties:
      Path: /adf/bootstrap/
      RoleName: "adf-bootstrap-update-deployment-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Condition:
              ArnEquals:
                "aws:PrincipalArn": !Sub "arn:${AWS::Partition}:iam::${ManagementAccountId}:role/adf/account-bootstrapping/jump/adf-bootstrapping-cross-account-jump-role"
            Principal:
              AWS: !Sub "arn:${AWS::Partition}:iam::${ManagementAccountId}:root"
            Action:
              - sts:AssumeRole
      Policies:
        - PolicyName: "limited-update-permissions-only"
          PolicyDocument:
            # Please note, that some of the resources are intentionally
            # left out of scope for the update deployment role.
            # The idea is to update the most common parts of ADF only.
            #
            # If it gets refactored, or some privileged resources need to
            # get an update, the privileged cross-account access role should
            # be used to update ADF instead.
            #
            # ---
            #
            # Resources that can only be updated via the permissive roles:
            # IAM Roles:
            #   - /adf/bootstrap/adf-bootstrap-pipeline-enable-cross-account-access-role
            #   - /adf/bootstrap/adf-bootstrap-enable-cross-account-state-machine
            #   - /adf/bootstrap/* (roles that do not have a Name set)
            #   - /adf/bootstrap/adf-bootstrap-test-role
            #   - /adf/bootstrap/adf-bootstrap-update-deployment-role
            #
            # KMS:
            #   - !Ref KMSKey
            #
            # KMSAlias:
            #   - !Sub "alias/codepipeline-${AWS::AccountId}"
            #
            # S3 Buckets:
            #   - !Ref PipelineBucket
            #
            # CodeCommit Repositories:
            #   - aws-deployment-framework-pipelines
            #
            # CodePipeline:
            #   - aws-deployment-framework-pipelines
            #
            # SNS Topics:
            #   - !Ref PipelineSNSTopic
            #
            # SNS Topic Policies:
            #   - !Ref PipelineSNSTopicPolicy
            #
            # Event Rules:
            #   - !Ref PipelineEventRule
            #   - !Ref PipelineCloudWatchEventRule
            #
            # Step Function State Machines:
            #   - adf-bootstrap-enable-cross-account
            #
            # DynamoDB Tables:
            #   - adf-tflocktable
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action:
                  - "lambda:InvokeAsync"
                  - "lambda:InvokeFunction"
                Resource:
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:ADFPipelinesDetermineDefaultBranchName"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:ADFPipelinesDetermineDefaultBranchName:*"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:PipelinesCreateInitialCommitFunction"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:PipelinesCreateInitialCommitFunction:*"
              - Effect: "Allow"
                Action:
                  - "lambda:GetFunction"
                  - "lambda:GetFunctionConfiguration"
                  - "lambda:GetFunctionEventInvokeConfig"
                  - "lambda:GetRuntimeManagementConfig"
                  - "lambda:ListFunctionEventInvokeConfigs"
                  - "lambda:ListTags"
                  - "lambda:ListVersionsByFunction"
                  - "lambda:PublishVersion"
                  - "lambda:PutFunctionConcurrency"
                  - "lambda:PutFunctionEventInvokeConfig"
                  - "lambda:PutRuntimeManagementConfig"
                  - "lambda:UpdateFunctionCode"
                  - "lambda:UpdateFunctionConfiguration"
                Resource:
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:ADFPipelinesDetermineDefaultBranchName"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:ADFPipelinesDetermineDefaultBranchName:*"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:CheckPipelineStatus"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:CheckPipelineStatus:*"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:PipelinesCreateInitialCommitFunction"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:PipelinesCreateInitialCommitFunction:*"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:SendSlackNotification"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:SendSlackNotification:*"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:UpdateCrossAccountIAM"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:UpdateCrossAccountIAM:*"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:adf-pipeline-management-create-repository"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:adf-pipeline-management-create-repository:*"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:adf-pipeline-management-create-update-rule"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:adf-pipeline-management-create-update-rule:*"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:adf-pipeline-management-deployment-map-processor"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:adf-pipeline-management-deployment-map-processor:*"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:adf-pipeline-management-generate-pipeline-inputs"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:adf-pipeline-management-generate-pipeline-inputs:*"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:adf-pipeline-management-identify-out-of-date-pipelines"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:adf-pipeline-management-identify-out-of-date-pipelines:*"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:adf-pipeline-management-store-pipeline-definition"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:adf-pipeline-management-store-pipeline-definition:*"
              - Effect: "Allow"
                Action:
                  - "lambda:DeleteLayerVersion"
                  - "lambda:GetLayerVersion"
                  - "lambda:PublishLayerVersion"
                Resource:
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:layer:adf_shared_layer"
                  - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:layer:adf_shared_layer:*"
              - Sid: "CodeBuildUpdate"
                Effect: "Allow"
                Action:
                  - "codebuild:UpdateProject"
                Resource:
                  - !GetAtt CodeBuildProject.Arn
              - Effect: "Allow"
                Action:
                  - "cloudformation:CancelUpdateStack"
                  - "cloudformation:ContinueUpdateRollback"
                  - "cloudformation:DeleteChangeSet"
                  - "cloudformation:DeleteStack"
                  - "cloudformation:DescribeChangeSet"
                  - "cloudformation:DescribeStacks"
                  - "cloudformation:SetStackPolicy"
                  - "cloudformation:SignalResource"
                  - "cloudformation:UpdateTerminationProtection"
                Resource:
                  # Across all regions, as it needs to be able to find and
                  # cleanup global stacks in non-global regions:
                  - !Sub "arn:${AWS::Partition}:cloudformation:*:${AWS::AccountId}:stack/adf-global-base-*/*"
                  - !Sub "arn:${AWS::Partition}:cloudformation:*:${AWS::AccountId}:stack/adf-regional-base-*/*"
              - Sid: "PreventDeletingBootstrapStack"
                Effect: "Deny"
                Action:
                  - "cloudformation:DeleteStack"
                  - "cloudformation:UpdateTerminationProtection"
                Resource:
                  - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/adf-global-base-deployment-*"
                  - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/adf-global-base-deployment"
                  - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/adf-global-base-deployment/*"
                  - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/adf-global-base-iam"
                  - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/adf-global-base-iam/*"
                  - !Sub "arn:${AWS::Partition}:cloudformation:*:${AWS::AccountId}:stack/adf-regional-base-deployment"
                  - !Sub "arn:${AWS::Partition}:cloudformation:*:${AWS::AccountId}:stack/adf-regional-base-deployment/*"
              - Effect: "Allow"
                Action:
                  - "cloudformation:CreateChangeSet"
                  - "cloudformation:CreateStack"
                  - "cloudformation:CreateUploadBucket"
                  - "cloudformation:ExecuteChangeSet"
                  - "cloudformation:TagResource"
                  - "cloudformation:UntagResource"
                  - "cloudformation:UpdateStack"
                Resource:
                  - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:aws:transform/Serverless-2016-10-31"
                  - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/adf-global-base-deployment-*/*"
                  - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/adf-global-base-deployment/*"
                  - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/adf-global-base-iam/*"
                  - !Sub "arn:${AWS::Partition}:cloudformation:*:${AWS::AccountId}:stack/adf-regional-base-deployment/*"
              - Effect: "Allow"
                Action:
                  - "cloudformation:ListStacks"
                  - "cloudformation:ValidateTemplate"
                  - "codecommit:ListRepositories"
                  - "ec2:DeleteInternetGateway"
                  - "ec2:DeleteNetworkInterface"
                  - "ec2:DeleteRouteTable"
                  - "ec2:DeleteSubnet"
                  - "ec2:DeleteVpc"
                  - "ec2:DescribeInternetGateways"
                  - "ec2:DescribeNetworkInterfaces"
                  - "ec2:DescribeRegions"
                  - "ec2:DescribeRouteTables"
                  - "ec2:DescribeSubnets"
                  - "ec2:DescribeVpcs"
                  - "iam:CreateAccountAlias"
                  - "iam:DeleteAccountAlias"
                  - "iam:ListAccountAliases"
                Resource:
                  - "*"
              - Effect: "Allow"
                Action:
                  - "ssm:GetParameters"
                  - "ssm:GetParameter"
                  - "ssm:PutParameter"
                Resource:
                  - !Sub "arn:${AWS::Partition}:ssm:*:${AWS::AccountId}:parameter/adf/*"
              - Sid: "IAMFullPathOnlyCreateDelete"
                Effect: "Allow"
                Action:
                  - "iam:CreateRole"
                  - "iam:DeleteRole"
                Resource:
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-terraform-role"
              - Sid: "IAMFullPathOnlyTag"
                Effect: "Allow"
                Action:
                  - "iam:TagRole"
                  - "iam:UntagRole"
                Resource:
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-cloudformation-deployment-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-cloudformation-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-codebuild-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-codecommit-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-codepipeline-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-readonly-automation-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-terraform-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf/pipeline-management/adf-pipeline-management-codepipeline"
              - Sid: "IAMFullPathAndNameOnly"
                Effect: "Allow"
                Action:
                  - "iam:DeleteRolePolicy"
                  - "iam:GetRole"
                  - "iam:GetRolePolicy"
                  - "iam:PutRolePolicy"
                  - "iam:UpdateAssumeRolePolicy"
                Resource:
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-cloudformation-deployment-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-cloudformation-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-codebuild-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-codecommit-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-codepipeline-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-pipeline-check-pipeline-status-lambda"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-pipeline-management-codepipeline"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-pipeline-send-slack-notification-lambda"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-readonly-automation-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-terraform-role"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf/bootstrap/adf-pipeline-check-pipeline-status-lambda"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf/bootstrap/adf-pipeline-send-slack-notification-lambda"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf/pipeline-management/adf-pipeline-management-codepipeline"
              - Sid: "IAMGetOnly"
                Effect: "Allow"
                Action:
                  - "iam:GetRole"
                  - "iam:GetRolePolicy"
                Resource:
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf-*"
                  - !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/adf/*"
              - Effect: "Allow"
                Action:
                  - "s3:GetObject"
                Resource:
                  - !Sub "arn:${AWS::Partition}:s3:::${BootstrapTemplatesBucketName}/adf-bootstrap/*"
                  - !Sub "arn:${AWS::Partition}:s3:::${SharedModulesBucket}/adf-bootstrap/*"
              - Effect: "Allow"
                Action:
                  - "codecommit:GetRepository"
                Resource:
                  - !GetAtt CodeCommitRepository.Arn
              - Effect: "Allow"
                Action:
                  - "codebuild:BatchGetProjects"
                Resource:
                  - !GetAtt CodeBuildProject.Arn
              - Effect: "Allow"
                Action:
                  - "sns:GetTopicAttributes"
                Resource:
                  - !Ref PipelineSNSTopic
              - Effect: Allow
                Sid: "KickOffPipelineManagement"
                Action:
                  - "states:DescribeExecution"
                  - "states:StartExecution"
                Resource:
                  - !Sub arn:${AWS::Partition}:states:${AWS::Region}:${AWS::AccountId}:stateMachine:adf-bootstrap-enable-cross-account
                  - !Sub arn:${AWS::Partition}:states:${AWS::Region}:${AWS::AccountId}:execution:adf-bootstrap-enable-cross-account:*

Outputs:
  ADFVersionNumber:
    Value: !Ref ADFVersion
    Export:
      Name: "ADFVersionNumber"

  SlackLambdaArn:
    Value: !GetAtt SendSlackNotification.Arn
    Export:
      Name: "SendSlackNotificationLambdaArn"

  DeploymentFrameworkRegionalKMSKey:
    Value: !GetAtt KMSKey.Arn
    Export:
      Name: !Sub "KMSArn-${AWS::Region}"

  DeploymentFrameworkRegionalS3Bucket:
    Value: !Ref PipelineBucket
    Export:
      Name: !Sub "S3Bucket-${AWS::Region}"

  CodeBuildRoleArn:
    Value: !GetAtt CodeBuildRole.Arn
    Export:
      Name: "CodeBuildRoleArn"

  CloudformationRoleArn:
    Value: !GetAtt CloudFormationRole.Arn
    Export:
      Name: "CloudFormationRoleArn"

  CloudformationDeploymentRoleArn:
    Value: !GetAtt CloudFormationDeploymentRole.Arn
    Export:
      Name: "CloudFormationDeploymentRoleArn"

  CodeCommitHttpURL:
    Description: "The CodeCommit HTTP Url"
    Value: !GetAtt CodeCommitRepository.CloneUrlHttp
    Export:
      Name: "aws-deployment-framework-pipelines-codecommit-http-url"

  CodeCommitSshURL:
    Description: "The CodeCommit SSH Url"
    Value: !GetAtt CodeCommitRepository.CloneUrlSsh
    Export:
      Name: "aws-deployment-framework-pipelines-codecommit-ssh-url"

  CodePipelineRoleArn:
    Description: "The CodePipeline Arn"
    Value: !GetAtt CodePipelineRole.Arn
    Export:
      Name: "CodePipelineRoleArn"

  KmsKeyArn:
    Description: "The Kms Key Arn"
    Value: !GetAtt KMSKey.Arn
    Export:
      Name: "KmsKeyArn"
