src/lambda_codebase/initial_commit/bootstrap_repository/adf-bootstrap/deployment/global.yml
# // Copyright 2020 Amazon.com, Inc. or its affiliates. All Rights Reserved.
# // SPDX-License-Identifier: Apache-2.0

AWSTemplateFormatVersion: "2010-09-09"
Transform: "AWS::Serverless-2016-10-31"
Description: ADF CloudFormation Template (Global) for Deployment Account
Parameters:
  ADFVersion:
    Type : "AWS::SSM::Parameter::Value<String>"
    Default: adf_version
  ADFLogLevel:
    Type : "AWS::SSM::Parameter::Value<String>"
    Default: adf_log_level
  MasterAccountId:
    Type : "AWS::SSM::Parameter::Value<String>"
    Default: master_account_id
  SharedModulesBucket:
    Type : "AWS::SSM::Parameter::Value<String>"
    Default: deployment_account_bucket
  OrganizationId:
    Type : "AWS::SSM::Parameter::Value<String>"
    Default: organization_id
  CrossAccountAccessRole:
    Type : "AWS::SSM::Parameter::Value<String>"
    Default: cross_account_access_role
  Image:
    Description: The Image you wish to use for CodeBuild (defaults to ubuntu).
    Type: String
    Default: "aws/codebuild/standard:2.0"
  ComputeType:
    Description: The Compute Type to use for AWS CodeBuild
    Type: String
    Default: "BUILD_GENERAL1_LARGE" # For threading with large amounts of pipelines this is the most effective default
    AllowedValues:
      - "BUILD_GENERAL1_SMALL"  #3 GB memory, 2 vCPU
      - "BUILD_GENERAL1_MEDIUM" #7 GB memory, 4 vCPU
      - "BUILD_GENERAL1_LARGE"  #15 GB memory, 8 vCPU
  NotificationEndpoint:
    Type : "AWS::SSM::Parameter::Value<String>"
    Default: notification_endpoint
  NotificationType:
    Type : "AWS::SSM::Parameter::Value<String>"
    Default: notification_type
  PipelinePrefix:
    Description: The Prefix that will be attached to pipeline stacks and names for ADF.
    Type: String
    Default: "adf-pipeline-"
  StackPrefix:
    Description: The Prefix that will be attached to stacks deployed via ADF.
    Type: String
    Default: "adf-"
Resources:
  LambdaLayerVersion:
    Type: "AWS::Serverless::LayerVersion"
    Properties:
      ContentUri: "../../adf-build/shared/"
      CompatibleRuntimes:
        - python3.7
        - python3.8
      Description: "Shared Lambda Layer between master and deployment account"
      LayerName: shared_layer
  LambdaLayerVersionPermission:
    Type: "AWS::Lambda::LayerVersionPermission"
    Properties:
      Action: lambda:GetLayerVersion
      LayerVersionArn: !Ref LambdaLayerVersion
      OrganizationId: !Ref OrganizationId
      Principal: "*"
  KMSKey:
    Type: AWS::KMS::Key
    Properties:
      Description: Used by Assumed Roles in Accounts accounts to Encrypt/Decrypt code
      EnableKeyRotation: true
      KeyPolicy:
        Version: "2012-10-17"
        Id: !Ref AWS::StackName
        Statement:
          - Sid: Allows admin of the key
            Effect: Allow
            Principal:
              AWS: !Sub arn:aws:iam::${AWS::AccountId}:root
            Action:
              - "kms:CancelKeyDeletion"
              - "kms:Create*"
              - "kms:Decrypt"
              - "kms:Delete*"
              - "kms:Describe*"
              - "kms:DescribeKey"
              - "kms:Disable*"
              - "kms:Enable*"
              - "kms:Encrypt"
              - "kms:GenerateDataKey*"
              - "kms:Get*"
              - "kms:List*"
              - "kms:Put*"
              - "kms:ReEncrypt*"
              - "kms:Revoke*"
              - "kms:ScheduleKeyDeletion"
              - "kms:Update*"
            Resource: "*"
          - Sid: Allow use of the key
            Effect: Allow
            Principal:
              AWS: "*"
            Action:
              - kms:Decrypt
              - kms:DescribeKey
              - kms:Encrypt
              - kms:GenerateDataKey*
              - kms:ReEncrypt*
            Resource: "*"
            Condition:
              StringEquals:
                aws:PrincipalOrgID: !Ref OrganizationId
  KMSAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: !Sub "alias/codepipeline-${AWS::AccountId}"
      TargetKeyId: !Ref KMSKey
  PipelineBucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    Properties:
      AccessControl: BucketOwnerFullControl
      VersioningConfiguration:
        Status: Enabled
      BucketEncryption:
        ServerSideEncryptionConfiguration:
            - ServerSideEncryptionByDefault:
                SSEAlgorithm: AES256
  CodeCommitRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: "adf-codecommit-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              AWS: !GetAtt CodePipelineRole.Arn
            Action:
              - sts:AssumeRole
          - Effect: Allow
            Principal:
              Service:
                - events.amazonaws.com
                - codepipeline.amazonaws.com
            Action:
              - sts:AssumeRole
      Path: /
  CodeCommitPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-codecommit-role-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - "codecommit:BatchGetRepositories"
              - "codecommit:CancelUploadArchive"
              - "codecommit:Get*"
              - "codecommit:GitPull"
              - "codecommit:List*"
              - "codecommit:UploadArchive"
              - "codepipeline:StartPipelineExecution"
              - "events:PutEvents"
              - "s3:Get*"
              - "s3:List*"
              - "s3:Put*"
            Resource: "*"
          - Effect: Allow
            Action:
              - "kms:Decrypt"
              - "kms:Describe*"
              - "kms:DescribeKey"
              - "kms:Encrypt"
              - "kms:GenerateDataKey*"
              - "kms:Get*"
              - "kms:List*"
              - "kms:ReEncrypt*"
            Resource: !GetAtt KMSKey.Arn
      Roles:
        - !Ref CodeCommitRole
  CodeBuildRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: "adf-codebuild-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - codebuild.amazonaws.com
            Action:
              - sts:AssumeRole
  CodeBuildRolePolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-codebuild-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "S3"
            Action:
              - s3:Get*
              - s3:GetBucketPolicy
              - s3:List*
              - s3:PutObject
            Resource:
              - !Sub arn:aws:s3:::${PipelineBucket}
              - !Sub arn:aws:s3:::${PipelineBucket}/*
              - !Sub arn:aws:s3:::${SharedModulesBucket}
              - !Sub arn:aws:s3:::${SharedModulesBucket}/*
          - Effect: Allow
            Sid: "KMS"
            Action:
              - kms:Decrypt
              - kms:DescribeKey
              - kms:Encrypt
              - kms:GenerateDataKey*
              - kms:ReEncrypt*
            Resource: !GetAtt KMSKey.Arn
          - Effect: Allow
            Action:
              - "organizations:DescribeOrganization"
            Resource:
              - "*"
          - Effect: Allow
            Action:
              - "sts:AssumeRole"
            Resource:
              - "*"
          - Effect: Allow
            Condition:
              StringEquals:
                aws:PrincipalOrgID: !Ref OrganizationId
            Action:
              - "secretsmanager:Get*"
            Resource: !Sub "arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:/adf/*" # Only allow CodeBuild access to secrets that start with /adf/*
          - Effect: Allow
            Action:
              - "ssm:GetParameter"
              - "ssm:GetParameters"
            Resource:
              - !Sub arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/*
              - !Sub arn:aws:ssm:${AWS::Region}::parameter/aws/service/*
          - Effect: Deny
            Action:
              - "sts:AssumeRole"
            Resource:
              - !GetAtt CloudFormationDeploymentRole.Arn
              - !Sub arn:aws:iam::${MasterAccountId}:role/${CrossAccountAccessRole}
          - Effect: Allow
            Action:
              - "logs:CreateLogGroup"
              - "logs:CreateLogStream"
              - "logs:PutLogEvents"
            Resource:
              - !Sub arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/codebuild/*
          - Effect: Allow
            Action: # If you plan on building docker images in CodeBuild you need these
              - "ecr:GetAuthorizationToken"
              - "ecr:InitiateLayerUpload"
              - "ecr:UploadLayerPart"
              - "ecr:CompleteLayerUpload"
              - "ecr:BatchCheckLayerAvailability"
              - "ecr:PutImage"
            Resource:
              - "*"
      Roles:
        - !Ref CodeBuildRole
  PipelineProvisionerCodeBuildRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: "adf-pipeline-provisioner-codebuild-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - codebuild.amazonaws.com
            Action:
              - sts:AssumeRole
  PipelineProvisionerCodeBuildRolePolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-pipeline-provisioner-codebuild-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "S3"
            Action:
              - s3:Get*
              - s3:GetBucketPolicy
              - s3:List*
              - s3:PutObject
            Resource:
              - !Sub arn:aws:s3:::${PipelineBucket}
              - !Sub arn:aws:s3:::${PipelineBucket}/*
              - !Sub arn:aws:s3:::${SharedModulesBucket}
              - !Sub arn:aws:s3:::${SharedModulesBucket}/*
          - Effect: Allow
            Sid: "KMS"
            Action:
              - kms:Decrypt
              - kms:DescribeKey
              - kms:Encrypt
              - kms:GenerateDataKey*
              - kms:ReEncrypt*
            Resource: !GetAtt KMSKey.Arn
          - Effect: Allow
            Action:
              - "sts:AssumeRole"
            Resource:
              - !Sub "arn:aws:iam::${MasterAccountId}:role/${CrossAccountAccessRole}-readonly"
              - arn:aws:iam::*:role/adf-automation-role
          - Effect: Allow
            Action:
              - "secretsmanager:Get*"
            Resource: !Sub "arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:/adf/*" # Only allow CodeBuild access to secrets that start with /adf/*
          - Effect: Allow
            Action:
              - "events:PutPermission"
            Resource:
              - !Sub arn:aws:events:${AWS::Region}:${AWS::AccountId}:event-bus/default
          - Effect: Allow
            Action:
              - "events:PutRule"
              - "events:PutTargets"
              - "events:PutPermission"
              - "events:RemoveTargets"
              - "events:DeleteRule"
              - "events:DescribeRule"
            Resource:
              - !Sub arn:aws:events:${AWS::Region}:${AWS::AccountId}:rule/${PipelinePrefix}*
          - Effect: Allow
            Action:
              - "cloudformation:CancelUpdateStack"
              - "cloudformation:ContinueUpdateRollback"
              - "cloudformation:CreateChangeSet"
              - "cloudformation:CreateStack"
              - "cloudformation:CreateUploadBucket"
              - "cloudformation:DeleteStack"
              - "cloudformation:DeleteChangeSet"
              - "cloudformation:DescribeStacks"
              - "cloudformation:DescribeChangeSet"
              - "cloudformation:ExecuteChangeSet"
              - "cloudformation:SetStackPolicy"
              - "cloudformation:SignalResource"
              - "cloudformation:UpdateStack"
              - "cloudformation:UpdateTerminationProtection"
            Resource:
                - !Sub "arn:aws:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/${PipelinePrefix}*/*"
          - Effect: Allow
            Action:
              - "cloudformation:ValidateTemplate"
              - "lambda:CreateEventSourceMapping"
              - "lambda:AddPermission"
              - "lambda:CreateFunction"
              - "lambda:DeleteFunction"
              - "lambda:GetFunction"
              - "lambda:GetFunctionConfiguration"
              - "lambda:RemovePermission"
              - "lambda:UpdateFunctionCode"
              - "lambda:UpdateFunctionConfiguration"
              - "logs:CreateLogGroup"
              - "logs:CreateLogStream"
              - "logs:PutLogEvents"
              - "iam:TagResource"
              - "ssm:DeleteParameter"
              - "ssm:GetParameter"
              - "ssm:GetParameters"
              - "ssm:GetParametersByPath"
              - "ssm:PutParameter"
              - "organizations:DescribeOrganization"
            Resource: "*"
          - Effect: Allow
            Action:
              - "sns:DeleteTopic"
              - "sns:CreateTopic"
              - "sns:Unsubscribe"
              - "sns:Subscribe"
              - "sns:SetTopicAttributes"
              - "sns:GetTopicAttributes"
              - "sns:TagResource"
            Resource:
              - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:${PipelinePrefix}*
          - Effect: Allow
            Action:
              - "codebuild:CreateProject"
              - "codebuild:DeleteProject"
              - "codebuild:UpdateProject"
            Resource:
              - !Sub arn:aws:codebuild:${AWS::Region}:${AWS::AccountId}:project/adf-*
          - Effect: Allow
            Action:
              - "iam:CreateRole"
              - "iam:CreateRolePolicy"
              - "iam:DeleteRole"
              - "iam:DeleteRolePolicy"
              - "iam:GetRole"
              - "iam:GetRolePolicy"
              - "iam:PassRole"
              - "iam:PutRolePolicy"
            Resource:
              - !Sub arn:aws:iam::${AWS::AccountId}:role/*
            Condition:
              StringEquals:
                aws:PrincipalOrgID: !Ref OrganizationId
          - Effect: Allow
            Action:
              - "iam:PassRole" # https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html
            Resource:
              - arn:aws:iam::*:role/* # This role can pass to any other role in the organization.
            Condition:
              StringEquals:
                aws:PrincipalOrgID: !Ref OrganizationId
          - Effect: Allow
            Action:
              - "codepipeline:CreatePipeline"
              - "codepipeline:DeletePipeline"
              - "codepipeline:DeleteWebhook"
              - "codepipeline:DeregisterWebhookWithThirdParty"
              - "codepipeline:GetPipeline"
              - "codepipeline:GetPipelineState"
              - "codepipeline:PutWebhook"
              - "codepipeline:RegisterWebhookWithThirdParty"
              - "codepipeline:StartPipelineExecution"
              - "codepipeline:TagResource"
              - "codepipeline:UpdatePipeline"
            Resource:
              - !Sub arn:aws:codepipeline:${AWS::Region}:${AWS::AccountId}:webhook:adf-webhook-*
              - !Sub arn:aws:codepipeline:${AWS::Region}:${AWS::AccountId}:${PipelinePrefix}*
      Roles:
        - !Ref PipelineProvisionerCodeBuildRole
  CloudFormationRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: "adf-cloudformation-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              AWS: !GetAtt CodePipelineRole.Arn
            Action:
              - sts:AssumeRole
          - Effect: Allow
            Principal:
              Service:
                - cloudformation.amazonaws.com
                - codepipeline.amazonaws.com
            Action:
              - sts:AssumeRole
      Path: /
  CloudFormationPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-cloudformation-role-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "CloudFormation"
            Action:
              - cloudformation:*
              - iam:PassRole
              - s3:Get*
              - s3:List*
              - s3:Put*
            Resource: "*"
          - Effect: Allow
            Sid: "KMS"
            Action:
              - kms:Decrypt
              - kms:DescribeKey
              - kms:Encrypt
              - kms:GenerateDataKey*
              - kms:ReEncrypt*
            Resource: !GetAtt KMSKey.Arn
      Roles:
        - !Ref CloudFormationRole
  CloudFormationDeploymentRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: "adf-cloudformation-deployment-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - cloudformation.amazonaws.com
            Action:
              - sts:AssumeRole
          - Effect: Allow
            Principal:
              AWS: !GetAtt CodeBuildRole.Arn
            Action:
              - sts:AssumeRole
      Path: /
  AdfAutomationRole:
    # This role is used by CodeBuild on the Deployment Account when creating new Codepipeline Pipelines.
    # This role is not assumed by CodeBuild in any other pipeline other than 'aws-deployment-framework-pipelines'
    Type: AWS::IAM::Role
    Properties:
      RoleName: "adf-automation-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "AssumeRole"
            Principal:
              AWS:
                - !GetAtt PipelineProvisionerCodeBuildRole.Arn
            Action:
              - sts:AssumeRole
      Path: /
  CloudFormationDeploymentPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-cloudformation-deployment-role-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "KMS"
            Action: # These are required for cross account deployments via codepipeline.
              - "kms:Decrypt"
              - "kms:DescribeKey"
              - "kms:Encrypt"
              - "kms:GenerateDataKey*"
              - "kms:ReEncrypt*"
            Resource: !GetAtt KMSKey.Arn
      Roles:
        - !Ref CloudFormationDeploymentRole
  AdfAutomationRolePolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "adf-automation-role-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "S3"
            Action:
              - s3:Get*
              - s3:List*
            Resource:
              - !Sub "arn:aws:s3:::${PipelineBucket}/adf-build/templates/*"
          - Effect: Allow
            Sid: "CloudFormation"
            Action:
              - "cloudformation:CancelUpdateStack"
              - "cloudformation:ContinueUpdateRollback"
              - "cloudformation:CreateChangeSet"
              - "cloudformation:CreateStack"
              - "cloudformation:DeleteChangeSet"
              - "cloudformation:DeleteStack"
              - "cloudformation:DescribeChangeSet"
              - "cloudformation:DescribeStacks"
              - "cloudformation:ExecuteChangeSet"
              - "cloudformation:SetStackPolicy"
              - "cloudformation:SignalResource"
              - "cloudformation:UpdateStack"
              - "cloudformation:UpdateTerminationProtection"
            Resource:
              - !Sub "arn:aws:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/adf-codecommit-*/*"
              - !Sub "arn:aws:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/adf-event-rule-${AWS::AccountId}-*/*"
          - Effect: Allow
            Sid: "CodeCommit"
            Action:
              - "codecommit:CreateRepository"
              - "codecommit:UpdateRepository"
              - "codecommit:GetRepository"
              - "codecommit:TagResource"
            Resource:
              - "*"
          - Effect: Allow
            Sid: "Events"
            Action:
              - "events:DescribeRule"
              - "events:EnableRule"
              - "events:ListRules"
              - "events:PutEvents"
              - "events:PutRule"
              - "events:PutTargets"
              - "cloudformation:ValidateTemplate"
            Resource:
              - "*"
          - Effect: Allow
            Sid: "SSM"
            Action:
              - "ssm:GetParameters"
              - "ssm:GetParameter"
            Resource:
              - "arn:aws:ssm:*:*:parameter/bucket_name"
              - "arn:aws:ssm:*:*:parameter/deployment_account_id"
              - "arn:aws:ssm:*:*:parameter/kms_arn"
      Roles:
        - !Ref AdfAutomationRole
  CodeCommitRepository:
    Type: AWS::CodeCommit::Repository
    Properties:
      RepositoryName: "aws-deployment-framework-pipelines"
      RepositoryDescription: !Sub "CodeCommit Repo for all pipelines in ${AWS::AccountId}"
      Triggers:
      - Name: Email
        DestinationArn: !Ref PipelineSNSTopic
        Branches:
          - master
        Events:
          - all
  CodeBuildProject:
    Type: AWS::CodeBuild::Project
    Properties:
      Artifacts:
        Type: CODEPIPELINE
      Environment:
        ComputeType: !Ref ComputeType
        Image: !Ref Image
        EnvironmentVariables:
          - Name: PYTHONPATH
            Value: "./adf-build/:./adf-build/python/"
          - Name: ACCOUNT_ID
            Value: !Ref AWS::AccountId
          - Name: MASTER_ACCOUNT_ID
            Value: !Ref MasterAccountId
          - Name: S3_BUCKET_NAME
            Value: !Ref PipelineBucket
          - Name: SHARED_MODULES_BUCKET
            Value: !Ref SharedModulesBucket
          - Name: ADF_PIPELINE_PREFIX
            Value: !Ref PipelinePrefix
          - Name: ADF_STACK_PREFIX
            Value: !Ref StackPrefix
          - Name: ADF_LOG_LEVEL
            Value: INFO
          - Name: ADF_VERSION
            Value: !Ref ADFVersion
          - Name: ORGANIZATION_ID
            Value: !Ref OrganizationId
        Type: LINUX_CONTAINER
      Name: "aws-deployment-framework-base"
      Source:
        Type: CODEPIPELINE
        BuildSpec: !Sub |
          version: 0.2
          phases:
            install:
              runtime-versions:
                python: 3.7
                nodejs: 10
            pre_build:
              commands:
                - npm install cdk@1.20 -g -y --quiet --no-progress
                - aws s3 cp s3://$SHARED_MODULES_BUCKET/adf-build/ ./adf-build/ --recursive --quiet
                - pip install -r adf-build/requirements.txt -q -t ./adf-build
            build:
              commands:
                - cdk --version
                - chmod 755 adf-build/cdk/execute_pipeline_stacks.py adf-build/cdk/generate_pipeline_inputs.py adf-build/cdk/generate_pipeline_stacks.py
                - python adf-build/cdk/generate_pipeline_inputs.py
                - cdk synth --app adf-build/cdk/generate_pipeline_stacks.py 1> /dev/null
                - python adf-build/cdk/execute_pipeline_stacks.py
      ServiceRole: !GetAtt PipelineProvisionerCodeBuildRole.Arn
      Tags:
        - Key: "Name"
          Value: "aws-deployment-framework-base"
  CodePipeline:
    Type: AWS::CodePipeline::Pipeline
    Properties:
      ArtifactStore:
        Type: S3
        Location: !Ref PipelineBucket
      RoleArn: !GetAtt CodePipelineRole.Arn
      RestartExecutionOnUpdate: true
      Name: "aws-deployment-framework-pipelines"
      Stages:
        - Name: CodeCommit
          Actions:
            - Name: Source
              ActionTypeId:
                Category: Source
                Owner: AWS
                Version: "1"
                Provider: CodeCommit
              OutputArtifacts:
                - Name: "Source"
              Configuration:
                BranchName: "master"
                RepositoryName: !GetAtt CodeCommitRepository.Name
                PollForSourceChanges: false
              RunOrder: 1
        - Name: CreateOrUpdatePipelines
          Actions:
            - Name: CreateOrUpdate
              ActionTypeId:
                  Category: Build
                  Owner: AWS
                  Version: "1"
                  Provider: CodeBuild
              OutputArtifacts:
                - Name: "aws-deployment-pipelines-build"
              InputArtifacts:
                - Name: "Source"
              Configuration:
                  ProjectName: !Ref CodeBuildProject
              RunOrder: 1
  PipelineSNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      KmsMasterKeyId: "alias/aws/sns"
      Subscription:
        - Endpoint: !Ref NotificationEndpoint
          Protocol: !Ref NotificationType
  PipelineEventRule:
    Type: "AWS::Events::Rule"
    Properties:
      Description: "Trigger notifications based on pipeline state changes"
      EventPattern:
        source:
          - "aws.codepipeline"
        detail-type:
          - "CodePipeline Pipeline Execution State Change"
        detail:
          state:
            - "FAILED"
            - "SUCCEEDED"
          pipeline:
            - !Ref CodePipeline
      State: "ENABLED"
      Targets:
        - Arn: !Ref PipelineSNSTopic
          Id: !Sub "${AWS::StackName}"
          InputTransformer:
            InputTemplate: '"The pipeline <pipeline> from account <account> has <state> at <at>."'
            InputPathsMap:
              pipeline: "$.detail.pipeline"
              state: "$.detail.state"
              at: "$.time"
              account: "$.account"
  PipelineSNSTopicPolicy:
    Type: AWS::SNS::TopicPolicy
    Properties:
      PolicyDocument:
        Id: !Sub "${AWS::StackName}"
        Version: "2012-10-17"
        Statement:
        - Effect: Allow
          Principal:
            Service:
              - codecommit.amazonaws.com
              - events.amazonaws.com
              - states.amazonaws.com
          Action: sns:Publish
          Resource: "*"
      Topics:
      - !Ref PipelineSNSTopic
  CodePipelineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: "adf-codepipeline-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - cloudformation.amazonaws.com
                - codedeploy.amazonaws.com
                - codepipeline.amazonaws.com
                - s3.amazonaws.com
            Action:
              - sts:AssumeRole
          - Effect: Allow
            Principal:
              AWS: !Ref AWS::AccountId
            Action:
              - sts:AssumeRole
  CodePipelineRolePolicy: # https://docs.aws.amazon.com/codepipeline/latest/userguide/how-to-custom-role.html#how-to-update-role-new-services
    Type: AWS::IAM::Policy
    DependsOn: PipelineBucketPolicy
    Properties:
      PolicyName: "adf-codepipeline-role-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Sid: "CodePipeline"
            Action:
              - cloudformation:CreateStack
              - cloudformation:DeleteStack
              - cloudformation:DescribeStacks
              - cloudformation:UpdateStack
              - cloudformation:CreateChangeSet
              - cloudformation:DeleteChangeSet
              - cloudformation:DescribeChangeSet
              - cloudformation:ExecuteChangeSet
              - cloudformation:SetStackPolicy
              - cloudformation:ValidateTemplate
              - codebuild:BatchGetBuilds
              - codebuild:StartBuild
              - codebuild:BatchGetBuilds
              - codebuild:StartBuild
              - ecr:DescribeImages
              - ecs:DescribeServices
              - ecs:DescribeTaskDefinition
              - ecs:DescribeTasks
              - ecs:ListTasks
              - ecs:RegisterTaskDefinition
              - ecs:UpdateService
              - codedeploy:CreateDeployment
              - codedeploy:GetApplicationRevision
              - codedeploy:GetDeployment
              - codedeploy:GetDeploymentConfig
              - codedeploy:RegisterApplicationRevision
              - lambda:InvokeFunction
              - lambda:ListFunctions
              - s3:GetObjectVersion
              - s3:GetObjectVersionAcl
              - s3:GetObjectVersionTagging
              - s3:GetReplicationConfiguration
              - s3:ListBucket
              - s3:ReplicateDelete
              - s3:ReplicateObject
              - s3:ReplicateTags
              - servicecatalog:CreateProvisioningArtifact
              - servicecatalog:DeleteProvisioningArtifact
              - servicecatalog:DescribeProvisioningArtifact
              - servicecatalog:ListProvisioningArtifacts
              - servicecatalog:UpdateProduct
              - sns:Publish
            Resource:
              - "*"
          - Effect: Allow
            Sid: "KMS"
            Action:
              - kms:Decrypt
              - kms:DescribeKey
              - kms:Encrypt
              - kms:GenerateDataKey*
              - kms:ReEncrypt*
            Resource: !GetAtt KMSKey.Arn
          - Effect: Allow
            Sid: "AssumeRole"
            Action:
              - sts:AssumeRole
            Resource:
              - arn:aws:iam::*:role/adf-cloudformation-role
              - arn:aws:iam::*:role/adf-codecommit-role
            Condition:
              StringEquals:
                aws:PrincipalOrgID: !Ref OrganizationId
          - Effect: Allow
            Sid: "S3"
            Action:
              - s3:Get*
              - s3:List*
              - s3:Put*
              - s3:ReplicateDelete
              - s3:ReplicateObject
              - s3:ReplicateTags
            Resource:
              - !Sub arn:aws:s3:::${PipelineBucket}
              - !Sub arn:aws:s3:::${PipelineBucket}/*
          - Effect: Allow
            Sid: "CodeCommit"
            Action:
              - codecommit:GetBranch
              - codecommit:GetCommit
              - codecommit:UploadArchive
              - codecommit:GetUploadArchiveStatus
              - codecommit:CancelUploadArchive
            Resource:
              - "*"
          - Effect: Allow
            Sid: "PassRole"
            Action:
              - 'iam:PassRole'
            Resource: '*'
            Condition:
                StringEqualsIfExists:
                    'iam:PassedToService':
                        - cloudformation.amazonaws.com
                        - elasticbeanstalk.amazonaws.com
                        - ec2.amazonaws.com
                        - ecs-tasks.amazonaws.com
      Roles:
        - !Ref CodePipelineRole
  PipelineBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref "PipelineBucket"
      PolicyDocument:
        Statement:
          - Action:
              - "s3:Get*"
              - "s3:List*"
              - "s3:PutObject*"
              - "s3:PutReplicationConfiguration"
            Effect: Allow
            Condition:
              StringEquals:
                aws:PrincipalOrgID: !Ref OrganizationId
            Resource:
              - !Sub arn:aws:s3:::${PipelineBucket}
              - !Sub arn:aws:s3:::${PipelineBucket}/*
            Principal:
              AWS: "*"
  SendSlackNotification:
    Type: "AWS::Serverless::Function"
    Properties:
      CodeUri: lambda_codebase/
      Layers:
          - !Ref LambdaLayerVersion
      Description: "ADF Lambda Function - Send Slack Notification"
      FunctionName: SendSlackNotification
      Handler: slack.lambda_handler
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          ADF_PIPELINE_PREFIX: !Ref PipelinePrefix
          ADF_LOG_LEVEL: !Ref ADFLogLevel
      Runtime: python3.7
      Timeout: 10
  EnableCrossAccountAccess:
    Type: "AWS::Serverless::Function"
    Properties:
      CodeUri: lambda_codebase/
      Layers:
          - !Ref LambdaLayerVersion
      Description: "ADF Lambda Function - EnableCrossAccountAccess"
      MemorySize: 1024
      Environment:
        Variables:
          KMS_KEY_ID: !Ref KMSKey
          S3_BUCKET_NAME: !Ref PipelineBucket
          ADF_LOG_LEVEL: !Ref ADFLogLevel
      FunctionName: UpdateCrossAccountIAM
      Handler: enable_cross_account_access.lambda_handler
      Role: !GetAtt LambdaRole.Arn
      Runtime: python3.7
      Timeout: 900
  CheckPipelineStatus:
    Type: "AWS::Serverless::Function"
    Properties:
      CodeUri: lambda_codebase/
      Layers:
          - !Ref LambdaLayerVersion
      Description: "ADF Lambda Function - CheckPipelineStatus"
      Environment:
        Variables:
          KMS_KEY_ID: !Ref KMSKey
          S3_BUCKET_NAME: !Ref PipelineBucket
          ADF_LOG_LEVEL: !Ref ADFLogLevel
      FunctionName: CheckPipelineStatus
      Handler: update_pipelines.lambda_handler
      Role: !GetAtt LambdaRole.Arn
      Runtime: python3.7
      Timeout: 120
  LambdaRole:
    Type: "AWS::IAM::Role"
    Properties:
      RoleName: "adf-lambda-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "lambda.amazonaws.com"
                - "states.amazonaws.com"
                - "sns.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      Path: "/"
      Policies:
        - PolicyName: "adf-lambda-execution-role"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action: "sts:AssumeRole"
                Resource: "*"
                Condition:
                  StringEquals:
                    aws:PrincipalOrgID: !Ref OrganizationId
              - Effect: "Allow"
                Action:
                  - "codepipeline:GetPipelineState"
                  - "codepipeline:ListPipelines"
                  - "codepipeline:PutJobFailureResult"
                  - "codepipeline:PutJobSuccessResult"
                  - "codepipeline:StartPipelineExecution"
                  - "events:PutPermission"
                  - "iam:GetRolePolicy"
                  - "iam:PutRolePolicy"
                  - "kms:Decrypt"
                  - "kms:Describe*"
                  - "kms:Encrypt"
                  - "kms:GenerateDataKey*"
                  - "kms:Get*"
                  - "kms:List*"
                  - "kms:PutKeyPolicy"
                  - "kms:ReEncrypt*"
                  - "lambda:GetLayerVersion"
                  - "s3:Get*"
                  - "s3:Put*"
                  - "sns:Publish"
                  - "ssm:GetParameter"
                  - "ssm:GetParameters"
                Resource: "*"
              - Effect: Allow
                Action:
                  - "secretsmanager:Get*"
                Resource: !Sub "arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:/adf/*" # Only allow Lambda access to get secrets that start with /adf/*
              - Effect: "Allow"
                Action:
                  - "s3:Get*"
                  - "s3:Put*"
                  - "s3:List*"
                Resource:
                  - !Sub arn:aws:s3:::${PipelineBucket}
                  - !Sub arn:aws:s3:::${PipelineBucket}/*
              - Effect: "Allow"
                Action: "logs:*"
                Resource: "arn:aws:logs:*:*:*"
  StatesExecutionRole:
    Type: "AWS::IAM::Role"
    Properties:
      RoleName: "adf-state-machine-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - events.amazonaws.com
                - lambda.amazonaws.com
                - sns.amazonaws.com
                - states.amazonaws.com
            Action: "sts:AssumeRole"
      Path: "/"
      Policies:
        - PolicyName: "adf-state-machine-role"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "lambda:InvokeFunction"
                  - "sns:Publish"
                  - "states:StartExecution"
                Resource: "*"
  LambdaInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      Principal: sns.amazonaws.com
      SourceArn: !Ref PipelineSNSTopic
      FunctionName: !Ref SendSlackNotification
  StateMachine:
    Type: "AWS::StepFunctions::StateMachine"
    Properties:
      StateMachineName: "EnableCrossAccountAccess"
      DefinitionString: !Sub |-
            {
                "Comment": "Enable Cross Account Access from Deployment Account",
                "StartAt": "DetermineEvent",
                "States": {
                    "DetermineEvent": {
                        "Type": "Choice",
                        "Choices": [{
                                "Variable": "$.update_only",
                                "NumericEquals": 1,
                                "Next": "UpdateDeploymentPipelines"
                            },
                            {
                                "Not": {
                                    "Variable": "$.error",
                                    "NumericEquals": 0
                                },
                                "Next": "NotifyFailure"
                            }
                        ],
                        "Default": "EnableCrossAccountAccess"
                    },
                    "EnableCrossAccountAccess": {
                        "Type": "Task",
                        "Resource": "${EnableCrossAccountAccess.Arn}",
                        "Next": "UpdateDeploymentPipelines",
                        "TimeoutSeconds": 900
                    },
                    "UpdateDeploymentPipelines": {
                        "Type": "Task",
                        "Resource": "${CheckPipelineStatus.Arn}",
                        "TimeoutSeconds": 60,
                        "Next": "NeedToNotifySuccess?"
                    },
                    "NeedToNotifySuccess?": {
                        "Type": "Choice",
                        "Choices": [{
                            "Variable": "$.update_only",
                            "NumericEquals": 1,
                            "Next": "Success"
                        }],
                        "Default": "NotifySuccess"
                    },
                    "Success": {
                        "Type": "Succeed"
                    },
                    "Failure": {
                        "Type": "Fail"
                    },
                    "NotifySuccess": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::sns:publish",
                        "Parameters": {
                            "TopicArn": "arn:aws:sns:${AWS::Region}:${AWS::AccountId}:${PipelineSNSTopic.TopicName}",
                            "Message.$": "$.message",
                            "Subject": "Success - AWS Deployment Framework Bootstrap"
                        },
                        "Next": "Success"
                    },
                    "NotifyFailure": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::sns:publish",
                        "Parameters": {
                            "TopicArn": "arn:aws:sns:${AWS::Region}:${AWS::AccountId}:${PipelineSNSTopic.TopicName}",
                            "Message.$": "$.error",
                            "Subject": "Failure - AWS Deployment Framework Bootstrap"
                        },
                        "Next": "Failure"
                    }
                }
            }
      RoleArn: !GetAtt StatesExecutionRole.Arn
  InitialCommit:
    Type: Custom::InitialCommit
    Properties:
      ServiceToken: !GetAtt InitialCommitHandler.Arn
      RepositoryArn: !GetAtt CodeCommitRepository.Arn
      Version: !Ref ADFVersion
      DirectoryName: pipelines_repository
  InitialCommitHandler:
    Type: AWS::Serverless::Function
    Properties:
      Handler: handler.lambda_handler
      CodeUri: lambda_codebase/initial_commit
      Description: "ADF Lambda Function - PipelinesCreateInitialCommitFunction"
      Policies:
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - codecommit:GetDifferences
                - codecommit:CreateCommit
                - codecommit:CreatePullRequest
                - codecommit:DeleteBranch
                - codecommit:GetBranch
                - codecommit:CreateBranch
                - codecommit:CreatePullRequest
                - codecommit:DeleteBranch
              Resource: !GetAtt CodeCommitRepository.Arn
      FunctionName: PipelinesCreateInitialCommitFunction
      Runtime: python3.7
      Timeout: 300
  KmsKeyArnParameter:
    Type: "AWS::SSM::Parameter"
    Properties:
      Name: "kms_arn"
      Type: "String"
      Value: !GetAtt KMSKey.Arn
  PipelineCloudWatchEventRole:
      Type: AWS::IAM::Role
      Properties:
        AssumeRolePolicyDocument:
          Version: 2012-10-17
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - events.amazonaws.com
              Action: sts:AssumeRole
        Path: /
        Policies:
          - PolicyName: adf-pipelines-execute-cwe
            PolicyDocument:
              Version: 2012-10-17
              Statement:
                - Effect: Allow
                  Action: codepipeline:StartPipelineExecution
                  Resource: !Join [ '', [ 'arn:aws:codepipeline:', !Ref 'AWS::Region', ':', !Ref 'AWS::AccountId', ':', !Ref CodePipeline ] ]
  PipelineCloudWatchEventRule:
    Type: AWS::Events::Rule
    Properties:
      EventPattern:
        source:
          - aws.codecommit
        detail-type:
          - 'CodeCommit Repository State Change'
        resources:
          - !Join [ '', [ 'arn:aws:codecommit:', !Ref 'AWS::Region', ':', !Ref 'AWS::AccountId', ':', !GetAtt CodeCommitRepository.Name ] ]
        detail:
          event:
            - referenceCreated
            - referenceUpdated
          referenceType:
            - branch
          referenceName:
            - master
      Targets:
        - Arn:
            !Join [ '', [ 'arn:aws:codepipeline:', !Ref 'AWS::Region', ':', !Ref 'AWS::AccountId', ':', !Ref CodePipeline ] ]
          RoleArn: !GetAtt PipelineCloudWatchEventRole.Arn
          Id: adf-codepipeline-trigger-pipeline
Outputs:
  ADFVersionNumber:
    Value: !Ref ADFVersion
    Export:
      Name: "ADFVersionNumber"
  SlackLambdaArn:
    Value: !GetAtt SendSlackNotification.Arn
    Export:
      Name: "SendSlackNotificationLambdaArn"
  DeploymentFrameworkRegionalKMSKey:
    Value: !GetAtt KMSKey.Arn
    Export:
      Name: !Sub "KMSArn-${AWS::Region}"
  DeploymentFrameworkRegionalS3Bucket:
    Value: !Ref PipelineBucket
    Export:
      Name: !Sub "S3Bucket-${AWS::Region}"
  CodeBuildRoleArn:
    Value: !GetAtt CodeBuildRole.Arn
    Export:
      Name: "CodeBuildRoleArn"
  CloudformationRoleArn:
    Value: !GetAtt CloudFormationRole.Arn
    Export:
      Name: "CloudFormationRoleArn"
  CloudformationDeploymentRoleArn:
    Value: !GetAtt CloudFormationDeploymentRole.Arn
    Export:
      Name: "CloudFormationDeploymentRoleArn"
  CodeCommitHttpURL:
    Description: "The CodeCommit HTTP Url"
    Value: !GetAtt CodeCommitRepository.CloneUrlHttp
    Export:
      Name: "aws-deployment-framework-pipelines-codecommit-http-url"
  LambdaRoleArn:
    Value: !GetAtt LambdaRole.Arn
    Export:
      Name: "LambdaRoleArn"
  CodeCommitSshURL:
    Description: "The CodeCommit SSH Url"
    Value: !GetAtt CodeCommitRepository.CloneUrlSsh
    Export:
      Name: "aws-deployment-framework-pipelines-codecommit-ssh-url"
  CodePipelineRoleArn:
    Description: "The CodePipeline Arn"
    Value: !GetAtt CodePipelineRole.Arn
    Export:
      Name: "CodePipelineRoleArn"
  KmsKeyArn:
    Description: "The Kms Key Arn"
    Value: !GetAtt KMSKey.Arn
    Export:
      Name: "KmsKeyArn"
