src/lambda_codebase/initial_commit/bootstrap_repository/adf-bootstrap/deployment/pipeline_management.yml
# Copyright Amazon.com Inc. or its affiliates.
# SPDX-License-Identifier: Apache-2.0

AWSTemplateFormatVersion: '2010-09-09'
Transform: 'AWS::Serverless-2016-10-31'
Description: ADF CloudFormation Stack for processing deployment maps.

Parameters:
  OrganizationId:
    Type: String
    MinLength: "1"

  ADFVersion:
    Type: String
    MinLength: "1"

  LambdaLayer:
    Type: String
    MinLength: "1"

  PipelineBucket:
    Type: String
    MinLength: "1"

  PipelineBucketKmsKeyArn:
    Type: String
    MinLength: "1"

  ManagementAccountId:
    Type: String
    MinLength: "1"

  CodeBuildImage:
    Type: String
    MinLength: "1"

  CodeBuildComputeType:
    Type: String
    MinLength: "1"

  SharedModulesBucket:
    Type: String
    MinLength: "1"

  PipelinePrefix:
    Type: String
    MinLength: "1"

  StackPrefix:
    Type: String
    MinLength: "1"

  ADFLogLevel:
    Type: String
    MinLength: "1"

Globals:
  Function:
    Architectures:
      - arm64
    CodeUri: lambda_codebase/pipeline_management
    Runtime: python3.12
    Timeout: 300
    Tracing: Active
    Layers:
      - !Ref LambdaLayer

Resources:
  ADFPipelineManagementLambdaBasePolicy:
    Type: "AWS::IAM::ManagedPolicy"
    Properties:
      Description: "Base policy for all ADF pipeline management lambdas"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - "logs:CreateLogGroup"
              - "logs:CreateLogStream"
              - "logs:PutLogEvents"
              - "xray:PutTelemetryRecords"
              - "xray:PutTraceSegments"
              - "cloudwatch:PutMetricData"
            Resource: "*"
          - Effect: "Allow"
            Action: "lambda:GetLayerVersion"
            Resource: !Ref LambdaLayer

  DeploymentMapProcessingLambdaRolePolicy:
    # Should remain a ManagedPolicy that is not waited for via DependsOn
    # By the time this function is called, the policies are in place.
    # Otherwise we have a circular dependency due to the Pipeline Management
    # Bucket reference and event handler depending on each other.
    Type: "AWS::IAM::ManagedPolicy"
    Properties:
      Description: "Policy to allow the deployment map processing Lambda to perform actions"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Action: "s3:ListBucket"
            Resource: !GetAtt PipelineManagementBucket.Arn
          - Effect: "Allow"
            Action: "states:StartExecution"
            Resource: !Sub "arn:${AWS::Partition}:states:${AWS::Region}:${AWS::AccountId}:stateMachine:adf-pipeline-management"
          - Effect: "Allow"
            Action: "s3:GetObject"
            Resource: !Sub "${PipelineManagementBucket.Arn}/*"
      Roles:
        - !Ref DeploymentMapProcessingLambdaRole

  DeploymentMapProcessingLambdaRole:
    Type: "AWS::IAM::Role"
    Properties:
      Path: "/adf/pipeline-management/"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "lambda.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      ManagedPolicyArns:
        - !Ref ADFPipelineManagementLambdaBasePolicy

  CreateOrUpdateRuleLambdaRole:
    Type: "AWS::IAM::Role"
    Properties:
      Path: "/adf/pipeline-management/"
      RoleName: "adf-pipeline-management-create-update-rule"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "lambda.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      ManagedPolicyArns:
        - !Ref ADFPipelineManagementLambdaBasePolicy
        - !Ref ADFAutomationRoleCrossAccountAccessRolePolicy
      Policies:
        - PolicyName: "adf-pipeline-create-update-rule-policy"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "ssm:GetParameter"
                  - "ssm:GetParameters"
                  - "ssm:GetParametersByPath"
                Resource:
                  - !Sub arn:${AWS::Partition}:ssm:*:${AWS::AccountId}:parameter/adf/*

  CreateRepositoryLambdaRole:
    Type: "AWS::IAM::Role"
    Properties:
      Path: "/adf/pipeline-management/"
      RoleName: "adf-pipeline-management-create-repository"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "lambda.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      ManagedPolicyArns:
        - !Ref ADFPipelineManagementLambdaBasePolicy
        - !Ref ADFAutomationRoleCrossAccountAccessRolePolicy
      Policies:
        - PolicyName: "adf-create-repo-function-policy"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "ssm:GetParameter"
                Resource:
                  - !Sub "arn:${AWS::Partition}:ssm:${AWS::Region}:${AWS::AccountId}:parameter/adf/scm/auto_create_repositories"

  GeneratePipelineInputsLambdaRole:
    Type: "AWS::IAM::Role"
    Properties:
      Path: "/adf/pipeline-management/"
      RoleName: "adf-pipeline-management-generate-inputs"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "lambda.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      ManagedPolicyArns:
        - !Ref ADFPipelineManagementLambdaBasePolicy
      Policies:
        - PolicyName: "adf-generate-pipeline-input-function-policy"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "sts:AssumeRole"
                Resource:
                  - !Sub "arn:${AWS::Partition}:iam::${ManagementAccountId}:role/adf/organizations/adf-organizations-readonly"
              - Effect: Allow
                Action:
                  - "ssm:GetParameter"
                  - "ssm:GetParameters"
                  - "ssm:GetParametersByPath"
                Resource:
                  - !Sub "arn:${AWS::Partition}:ssm:*:${AWS::AccountId}:parameter/adf/*"
              - Effect: Allow
                Action:
                  - "ssm:PutParameter"
                Resource:
                  - !Sub "arn:${AWS::Partition}:ssm:${AWS::Region}:${AWS::AccountId}:parameter/adf/deployment/*"

  StoreDefinitionLambdaRole:
    Type: "AWS::IAM::Role"
    Properties:
      Path: "/adf/pipeline-management/"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "lambda.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      ManagedPolicyArns:
        - !Ref ADFPipelineManagementLambdaBasePolicy
      Policies:
        - PolicyName: "adf-store-pipeline-definitions"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "s3:PutObject"
                Resource:
                  - !Sub "${PipelineDefinitionBucket.Arn}/*"

  IdentifyOutOfDatePipelinesLambdaRole:
    Type: "AWS::IAM::Role"
    Properties:
      Path: "/adf/pipeline-management/"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "lambda.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      ManagedPolicyArns:
        - !Ref ADFPipelineManagementLambdaBasePolicy
      Policies:
        - PolicyName: "adf-get-deployment-maps"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "s3:ListBucket"
                  - "s3:GetObject"
                Resource:
                  - !Sub "${PipelineManagementBucket.Arn}/*"
                  - !Sub "${PipelineManagementBucket.Arn}"
              - Effect: Allow
                Action:
                  - "ssm:GetParametersByPath"
                Resource:
                  - !Sub "arn:${AWS::Partition}:ssm:${AWS::Region}:${AWS::AccountId}:parameter/adf/deployment/*"

  StateMachineExecutionRole:
    Type: "AWS::IAM::Role"
    Properties:
      Path: "/adf/pipeline-management/"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - states.amazonaws.com
            Action: "sts:AssumeRole"
            Condition:
              ArnLike:
                "aws:SourceArn":
                  - !Sub "arn:${AWS::Partition}:states:${AWS::Region}:${AWS::AccountId}:stateMachine:*"
      Policies:
        - PolicyName: "adf-state-machine-role-policy"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "xray:PutTelemetryRecords"
                  - "xray:PutTraceSegments"
                  - "codebuild:BatchGetBuilds"
                  - "cloudwatch:PutMetricData"
                Resource: "*"
              - Effect: Allow
                Action:
                  - "lambda:InvokeFunction"
                Resource:
                  - !GetAtt CreateOrUpdateRuleFunction.Arn
                  - !GetAtt CreateRepositoryFunction.Arn
                  - !GetAtt GeneratePipelineInputsFunction.Arn
                  - !GetAtt StoreDefinitionFunction.Arn
              - Effect: Allow
                Action:
                  - "codebuild:StartBuild"
                Resource:
                  - !GetAtt PipelineManagementCodeBuildProject.Arn
              - Effect: Allow
                Action:
                  - events:PutTargets
                  - events:PutRule
                  - events:DescribeRule
                Resource:
                  - "*"

  DeletionStateMachineExecutionRole:
    Type: "AWS::IAM::Role"
    Properties:
      Path: "/adf/pipeline-management/"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - states.amazonaws.com
            Action: "sts:AssumeRole"
            Condition:
              ArnLike:
                "aws:SourceArn": !Sub "arn:${AWS::Partition}:states:${AWS::Region}:${AWS::AccountId}:stateMachine:*"
      Policies:
        - PolicyName: "adf-state-machine-role-policy"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "xray:PutTelemetryRecords"
                  - "xray:PutTraceSegments"
                  - "cloudwatch:PutMetricData"
                Resource: "*"
              - Effect: Allow
                Action:
                  - "lambda:InvokeFunction"
                Resource:
                  - !GetAtt IdentifyOutOfDatePipelinesFunction.Arn
        - PolicyName: "adf-deploy-cloudformation-delete"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - cloudformation:DeleteStack
                Resource:
                  - "*"
                Condition:
                  StringEquals:
                    'aws:ResourceTag/createdBy': "ADF"
              - Effect: Allow
                Action:
                  - "ssm:DeleteParameter"
                Resource:
                  - !Sub "arn:${AWS::Partition}:ssm:${AWS::Region}:${AWS::AccountId}:parameter/adf/deployment/*"

  PipelineManagementStateMachine:
    Type: "AWS::StepFunctions::StateMachine"
    Properties:
      RoleArn: !GetAtt StateMachineExecutionRole.Arn
      StateMachineName: "adf-pipeline-management"
      TracingConfiguration:
        Enabled: true
      DefinitionString: !Sub |-
        {
          "Comment": "ADF Pipeline Management State Machine",
          "StartAt": "CreateOrUpdateRule",
          "States": {
            "CreateOrUpdateRule": {
              "Type": "Task",
              "Resource": "${CreateOrUpdateRuleFunction.Arn}",
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 1,
                  "BackoffRate": 1.5,
                  "MaxAttempts": 10
                }, {
                  "ErrorEquals": [
                    "Lambda.Unknown",
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "CreateRepository"
            },
            "CreateRepository": {
              "Type": "Task",
              "Resource": "${CreateRepositoryFunction.Arn}",
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 1,
                  "BackoffRate": 1.5,
                  "MaxAttempts": 10
                }, {
                  "ErrorEquals": [
                    "Lambda.Unknown",
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "GeneratePipelineInputs"
            },
            "GeneratePipelineInputs": {
              "Type": "Task",
              "Resource": "${GeneratePipelineInputsFunction.Arn}",
              "Retry": [
                {
                  "ErrorEquals": [
                    "NoAccountsFoundError",
                    "InvalidDeploymentMapError"
                  ],
                  "MaxAttempts": 0
                },
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 1,
                  "BackoffRate": 1.5,
                  "MaxAttempts": 10
                }, {
                  "ErrorEquals": [
                    "Lambda.Unknown",
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "StorePipelineDefinition"
            },
            "StorePipelineDefinition": {
              "Type": "Task",
              "Resource": "${StoreDefinitionFunction.Arn}",
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 1,
                  "BackoffRate": 1.5,
                  "MaxAttempts": 10
                }, {
                  "ErrorEquals": [
                    "Lambda.Unknown",
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "RunCDK"
            },
            "RunCDK": {
              "Type": "Task",
              "Resource":  "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
              "Parameters": {
                "ProjectName": "${PipelineManagementCodeBuildProject}",
                "SourceTypeOverride": "S3",
                "SourceLocationOverride.$": "$.definition_location"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "CodeBuild.AWSCodeBuildException"
                  ],
                  "BackoffRate": 1.05,
                  "IntervalSeconds": 150,
                  "MaxAttempts": 12
                }
              ],
              "Next": "Success"
            },
            "Success": {
              "Type": "Succeed"
            }
          }
        }

  PipelineDeletionStateMachine:
    Type: "AWS::StepFunctions::StateMachine"
    Properties:
      StateMachineName: "adf-pipeline-management-delete-outdated"
      RoleArn: !GetAtt DeletionStateMachineExecutionRole.Arn
      TracingConfiguration:
        Enabled: true
      DefinitionString: !Sub |-
        {
          "Comment": "Check if there are any outdated pipelines, if so, clean them up",
          "StartAt": "IdentifyOutOfDatePipelines",
          "States": {
            "IdentifyOutOfDatePipelines": {
              "Type": "Task",
              "Resource": "${IdentifyOutOfDatePipelinesFunction.Arn}",
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 1,
                  "BackoffRate": 1.5,
                  "MaxAttempts": 10
                }, {
                  "ErrorEquals": [
                    "Lambda.Unknown",
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "AnyPipelineToBeDeleted?"
            },
            "AnyPipelineToBeDeleted?": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.pipelines_to_be_deleted",
                  "IsPresent": true,
                  "Next": "Map"
                }
              ],
              "Default": "Success"
            },
            "Map": {
              "Type": "Map",
              "MaxConcurrency": 10,
              "ItemsPath": "$.pipelines_to_be_deleted",
              "Iterator": {
                "StartAt": "DeleteStack",
                "States": {
                  "DeleteStack": {
                    "Type": "Task",
                    "Parameters": {
                      "StackName.$": "$.full_pipeline_name"
                    },
                    "Resource": "arn:${AWS::Partition}:states:::aws-sdk:cloudformation:deleteStack",
                    "ResultPath": "$.cfn_delete_stack.result",
                    "Next": "DeletePipelineParams"
                  },
                  "DeletePipelineParams": {
                    "Type": "Task",
                    "Parameters": {
                      "Name.$": "States.Format('/adf/deployment/S3/{}/regions', $.pipeline_name)"
                    },
                    "Catch": [
                      {
                        "ErrorEquals": ["ParameterNotFound"],
                        "Next": "ParameterNotFoundFallback"
                      }
                    ],
                    "Resource": "arn:${AWS::Partition}:states:::aws-sdk:ssm:deleteParameter",
                    "ResultPath": "$.ssm_delete_param.result",
                    "End": true
                  },
                  "ParameterNotFoundFallback": {
                    "Type": "Pass",
                    "Result": "Parameter not found, nothing to delete, all good",
                    "End": true
                  }
                }
              },
              "Next": "Success"
            },
            "Success": {
              "Type": "Succeed"
            }
          }
        }

  PipelineManagementCodeBuildProject:
    Type: AWS::CodeBuild::Project
    Properties:
      Artifacts:
        Type: NO_ARTIFACTS
      Environment:
        ComputeType: !Ref CodeBuildComputeType
        Image: !Ref CodeBuildImage
        EnvironmentVariables:
          - Name: PYTHONPATH
            Value: "./adf-build/:./adf-build/python/"
          - Name: ACCOUNT_ID
            Value: !Ref AWS::AccountId
          - Name: MANAGEMENT_ACCOUNT_ID
            Value: !Ref ManagementAccountId
          - Name: S3_BUCKET_NAME
            Value: !Ref PipelineBucket
          - Name: S3_BUCKET_KMS_KEY_ARN
            Value: !Ref PipelineBucketKmsKeyArn
          - Name: SHARED_MODULES_BUCKET
            Value: !Ref SharedModulesBucket
          - Name: ADF_PIPELINE_PREFIX
            Value: !Ref PipelinePrefix
          - Name: ADF_STACK_PREFIX
            Value: !Ref StackPrefix
          - Name: ADF_LOG_LEVEL
            Value: !Ref ADFLogLevel
          - Name: ADF_VERSION
            Value: !Ref ADFVersion
          - Name: ORGANIZATION_ID
            Value: !Ref OrganizationId
          - Name: CLOUDFORMATION_ROLE_ARN
            Value: !GetAtt ADFPipelineManagementCloudFormationRole.Arn
        Type: LINUX_CONTAINER
      Source:
        Type: NO_SOURCE
        BuildSpec: !Sub |
          version: 0.2
          phases:
            install:
              runtime-versions:
                python: 3.12
                nodejs: 20
              commands:
                - npm install aws-cdk@2.136.0 -g -y --quiet --no-progress
                - aws s3 cp s3://$SHARED_MODULES_BUCKET/adf-build/ ./adf-build/ --recursive --only-show-errors
                - pip install -r adf-build/requirements.txt -q -t ./adf-build
                - chmod 755 adf-build/cdk/execute_pipeline_stacks.py  adf-build/cdk/generate_pipeline_stacks.py
            build:
              commands:
                - cdk --version
                - mkdir cdk_inputs
                - cp definition.json cdk_inputs/definition.json
                - cdk synth --app adf-build/cdk/generate_pipeline_stacks.py -vv
                - python adf-build/cdk/execute_pipeline_stacks.py
      Name: "adf-pipeline-management-deploy"
      ServiceRole: !GetAtt PipelineManagementCodeBuildProjectRole.Arn

  PipelineManagementCodeBuildProjectRole:
    Type: AWS::IAM::Role
    Properties:
      Path: "/adf/pipeline-management/"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - codebuild.amazonaws.com
            Action:
              - sts:AssumeRole
            Condition:
              ArnEquals:
                "aws:SourceArn": !Sub "arn:${AWS::Partition}:codebuild:${AWS::Region}:${AWS::AccountId}:project/adf-pipeline-management-deploy"
      ManagedPolicyArns:
        - !Ref ADFPipelineManagementLambdaBasePolicy
      Policies:
        - PolicyName: "adf-pipeline-files"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "s3:PutObject"
                Resource:
                  - !Sub "arn:${AWS::Partition}:s3:::${PipelineBucket}/pipelines/*"
              - Effect: Allow
                Action:
                  - "s3:ListBucket"
                Resource:
                  - !Sub "${PipelineDefinitionBucket.Arn}"
                Condition:
                  StringLike:
                    "s3:prefix": "pipelines/*"
              - Effect: Allow
                Action:
                  - "s3:ListBucket"
                Resource:
                  - !Sub "arn:${AWS::Partition}:s3:::${SharedModulesBucket}"
                Condition:
                  StringLike:
                    "s3:prefix": "adf-build/*"
              - Effect: Allow
                Action:
                  - "s3:GetObject"
                Resource:
                  - !Sub "${PipelineDefinitionBucket.Arn}/pipelines/*"
                  - !Sub "arn:${AWS::Partition}:s3:::${SharedModulesBucket}/adf-build/*"
              - Effect: Allow
                Action:
                  - "kms:Decrypt"
                  - "kms:GenerateDataKey"
                Resource:
                  - !Ref PipelineBucketKmsKeyArn
        - PolicyName: "adf-deploy-cloudformation"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: "CloudFormationCreateUpdate"
                Effect: Allow
                Action:
                  - "cloudformation:CreateStack"
                  - "cloudformation:UpdateStack"
                Resource:
                  - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/${PipelinePrefix}*"
                Condition:
                  StringEquals:
                    'aws:RequestTag/createdBy': "ADF"
              - Sid: "CloudFormationDelete"
                Effect: Allow
                Action:
                  - "cloudformation:DeleteStack"
                  - "cloudformation:UpdateTerminationProtection"
                Resource:
                  - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/${PipelinePrefix}*"
                Condition:
                  StringEquals:
                    'aws:ResourceTag/createdBy': "ADF"
              - Sid: "CloudFormationStackActions"
                Effect: Allow
                Action:
                  - "cloudformation:DescribeStacks"
                  - "cloudformation:CreateChangeSet"
                  - "cloudformation:DeleteChangeSet"
                  - "cloudformation:DescribeChangeSet"
                  - "cloudformation:ExecuteChangeSet"
                  - "cloudformation:SetStackPolicy"
                Resource:
                  - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/${PipelinePrefix}*"
              - Sid: "CloudFormationValidate"
                Effect: Allow
                Action:
                  - "cloudformation:ValidateTemplate"
                Resource:
                  - "*"
              - Sid: "CloudFormationPassRole"
                Effect: Allow
                Action:
                  - 'iam:PassRole'
                Resource:
                  - !GetAtt ADFPipelineManagementCloudFormationRole.Arn
                Condition:
                  StringEquals:
                    'iam:PassedToService':
                      - "cloudformation.amazonaws.com"
                  ArnLike:
                    'iam:AssociatedResourceArn':
                      - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/${PipelinePrefix}*"

  ADFPipelineManagementCloudFormationRole:
    Type: AWS::IAM::Role
    Properties:
      Path: "/adf/pipeline-management/"
      RoleName: "adf-pipeline-deployment"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - cloudformation.amazonaws.com
            Action:
              - sts:AssumeRole
            Condition:
              ArnLike:
                "aws:SourceArn": !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/${PipelinePrefix}*"
      Policies:
        - PolicyName: "adf-codepipeline-creation"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "codepipeline:CreatePipeline"
                  - "codepipeline:DeletePipeline"
                  - "codepipeline:DeleteWebhook"
                  - "codepipeline:DeregisterWebhookWithThirdParty"
                  - "codepipeline:GetPipeline"
                  - "codepipeline:GetPipelineState"
                  - "codepipeline:PutWebhook"
                  - "codepipeline:RegisterWebhookWithThirdParty"
                  - "codepipeline:StartPipelineExecution"
                  - "codepipeline:TagResource"
                  - "codepipeline:UntagResource"
                  - "codepipeline:UpdatePipeline"
                Resource:
                  - !Sub arn:${AWS::Partition}:codepipeline:${AWS::Region}:${AWS::AccountId}:webhook:adf-webhook-*
                  - !Sub arn:${AWS::Partition}:codepipeline:${AWS::Region}:${AWS::AccountId}:${PipelinePrefix}*
              - Effect: Allow
                Action:
                  - "codebuild:CreateProject"
                  - "codebuild:DeleteProject"
                  - "codebuild:UpdateProject"
                Resource:
                  - !Sub arn:${AWS::Partition}:codebuild:${AWS::Region}:${AWS::AccountId}:project/adf-build-*
                  - !Sub arn:${AWS::Partition}:codebuild:${AWS::Region}:${AWS::AccountId}:project/adf-deploy-*
              - Effect: Allow
                Action:
                  - "sns:DeleteTopic"
                  - "sns:CreateTopic"
                  - "sns:Unsubscribe"
                  - "sns:Subscribe"
                  - "sns:SetTopicAttributes"
                  - "sns:GetTopicAttributes"
                  - "sns:TagResource"
                  - "sns:UntagResource"
                  - "sns:ListSubscriptionsByTopic"
                Resource:
                  - !Sub arn:${AWS::Partition}:sns:${AWS::Region}:${AWS::AccountId}:${PipelinePrefix}*
              - Effect: Allow
                Action:
                  - "iam:CreateRole"
                  - "iam:AttachRolePolicy"
                  - "iam:DeleteRole"
                  - "iam:DeleteRolePolicy"
                  - "iam:GetRole"
                  - "iam:GetRolePolicy"
                  - "iam:PutRolePolicy"
                  - "iam:TagRole"
                  - "iam:UntagRole"
                Resource:
                  - !Sub arn:${AWS::Partition}:iam::${AWS::AccountId}:role/${PipelinePrefix}*
                Condition:
                  StringEquals:
                    'aws:ResourceTag/createdBy': "ADF"
              - Sid: "PassRoleToCodeBuild"
                Effect: Allow
                Action:
                  - 'iam:PassRole'
                Resource:
                  - !Sub arn:${AWS::Partition}:iam::*:role/adf-codebuild-role
                Condition:
                  StringEquals:
                    "aws:ResourceOrgID": !Ref OrganizationId
                  StringEqualsIfExists:
                    'iam:PassedToService':
                      - "codebuild.amazonaws.com"
              - Sid: "PassRoleToCodeCommit"
                Effect: Allow
                Action:
                  - 'iam:PassRole'
                Resource:
                  - !Sub arn:${AWS::Partition}:iam::*:role/adf-codecommit-role
                Condition:
                  StringEquals:
                    "aws:ResourceOrgID": !Ref OrganizationId
                  StringEqualsIfExists:
                    'iam:PassedToService':
                      - "codecommit.amazonaws.com"
                      - "codepipeline.amazonaws.com"
              - Sid: "PassRoleToCodePipeline"
                Effect: Allow
                Action:
                  - 'iam:PassRole'
                Resource:
                  - !Sub arn:${AWS::Partition}:iam::*:role/adf-codepipeline-role
                  - !Sub arn:${AWS::Partition}:iam::*:role/adf-cloudformation-role
                Condition:
                  StringEquals:
                    "aws:ResourceOrgID": !Ref OrganizationId
                  StringEqualsIfExists:
                    'iam:PassedToService':
                      - "codepipeline.amazonaws.com"
              - Sid: "PassRoleToOthers"
                Effect: Allow
                Action:
                  - 'iam:PassRole'
                Resource:
                  - !Sub arn:${AWS::Partition}:iam::*:role/adf-cloudformation-role
                Condition:
                  StringEquals:
                    "aws:ResourceOrgID": !Ref OrganizationId
                  StringEqualsIfExists:
                    'iam:PassedToService':
                      - "codedeploy.amazonaws.com"
              - Sid: "PassRoleToCloudFormation"
                Effect: Allow
                Action:
                  - 'iam:PassRole'
                Resource:
                  - !Sub arn:${AWS::Partition}:iam::*:role/adf-cloudformation-deployment-role
                Condition:
                  StringEquals:
                    "aws:ResourceOrgID": !Ref OrganizationId
                  StringEqualsIfExists:
                    'iam:PassedToService':
                      - "cloudformation.amazonaws.com"
              - Sid: "PassPipelineRoles"
                Effect: Allow
                Action:
                  - 'iam:PassRole'
                Resource:
                  - !Sub arn:${AWS::Partition}:iam::*:role/${PipelinePrefix}*
                Condition:
                  StringEquals:
                    "aws:ResourceOrgID": !Ref OrganizationId
                  StringEqualsIfExists:
                    'iam:PassedToService':
                      - "events.amazonaws.com"
              - Effect: Allow
                Sid: "CodeBuildVPC"
                Action:
                  - "ec2:AuthorizeSecurityGroupEgress"
                  - "ec2:AuthorizeSecurityGroupIngress"
                  - "ec2:CreateSecurityGroup"
                  - "ec2:CreateTags"
                  - "ec2:DeleteSecurityGroup"
                  - "ec2:DeleteSecurityGroup"
                  - "ec2:DeleteTags"
                  - "ec2:Describe*"
                  - "ec2:List*"
                  - "ec2:RevokeSecurityGroupEgress"
                  - "ec2:RevokeSecurityGroupIngress"
                Resource:
                  - "*"
              - Effect: Allow
                Sid: "AllowCodeConnections"
                Action:
                  - "codeconnections:PassConnection"
                Resource:
                  - !Sub arn:${AWS::Partition}:codeconnections:${AWS::Region}:${AWS::AccountId}:connection/*
                Condition:
                  StringEquals:
                    'codeconnections:PassedToService': 'codepipeline.amazonaws.com'
              - Effect: Allow
                Sid: "AllowCodeStarConnections"
                Action:
                  - "codestar-connections:PassConnection"
                Resource:
                  - !Sub arn:${AWS::Partition}:codestar-connections:${AWS::Region}:${AWS::AccountId}:connection/*
                Condition:
                  StringEquals:
                    'codestar-connections:PassedToService': 'codepipeline.amazonaws.com'
              - Effect: Allow
                Sid: "AllowChatBotOperations"
                Action:
                  - "codestar-notifications:CreateNotificationRule"
                  - "codestar-notifications:DeleteNotificationRule"
                  - "codestar-notifications:DescribeNotificationRule"
                  - "codestar-notifications:ListNotificationRules"
                  - "codestar-notifications:Subscribe"
                  - "codestar-notifications:TagResource"
                  - "codestar-notifications:Unsubscribe"
                  - "codestar-notifications:UntagResource"
                  - "codestar-notifications:UpdateNotificationRule"
                Resource: "*"
              - Effect: Allow
                Action:
                  - "events:PutRule"
                  - "events:PutTargets"
                  - "events:PutPermission"
                  - "events:RemoveTargets"
                  - "events:DeleteRule"
                  - "events:DescribeRule"
                Resource:
                  - !Sub arn:${AWS::Partition}:events:${AWS::Region}:${AWS::AccountId}:rule/${PipelinePrefix}*
              - Effect: Allow
                Action:
                  - "lambda:CreateEventSourceMapping"
                  - "lambda:CreateFunction"
                  - "lambda:DeleteFunction"
                  - "lambda:GetFunction"
                  - "lambda:ListTags"
                  - "lambda:GetFunctionConfiguration"
                  - "lambda:UpdateFunctionCode"
                  - "lambda:UpdateFunctionConfiguration"
                Resource: "*"
              - Effect: Allow
                Action:
                  - "lambda:AddPermission"
                  - "lambda:RemovePermission"
                Resource: "*"
                Condition:
                  StringEquals:
                    "lambda:Principal":
                      - "codepipeline.amazonaws.com"
                      - "events.amazonaws.com"
                      - "sns.amazonaws.com"
                      - "states.amazonaws.com"

  DeploymentMapProcessingFunction:
    Type: 'AWS::Serverless::Function'
    Properties:
      Handler: process_deployment_map.lambda_handler
      Description: "ADF - Pipeline Management - Deployment Map Processing"
      Environment:
        Variables:
          ACCOUNT_ID: !Ref AWS::AccountId
          ORGANIZATION_ID: !Ref OrganizationId
          ADF_VERSION: !Ref ADFVersion
          ADF_LOG_LEVEL: !Ref ADFLogLevel
          PIPELINE_MANAGEMENT_STATE_MACHINE: !Sub "arn:${AWS::Partition}:states:${AWS::Region}:${AWS::AccountId}:stateMachine:adf-pipeline-management"
      FunctionName: adf-pipeline-management-deployment-map-processor
      Role: !GetAtt DeploymentMapProcessingLambdaRole.Arn
      Events:
        S3Event:
          Type: S3
          Properties:
            Bucket:
              Ref: PipelineManagementBucket
            Events: s3:ObjectCreated:*
    Metadata:
      BuildMethod: python3.12

  ADFAutomationRoleCrossAccountAccessRolePolicy:
    Type: "AWS::IAM::ManagedPolicy"
    Properties:
      Description: "Additional policy that allows a lambda to assume the cross account automation role"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - "sts:AssumeRole"
            Resource: !Sub "arn:${AWS::Partition}:iam::*:role/adf-automation-role"
            Condition:
              StringEquals:
                "aws:ResourceOrgID": !Ref OrganizationId

  CreateOrUpdateRuleFunction:
    Type: 'AWS::Serverless::Function'
    Properties:
      Handler: create_or_update_rule.lambda_handler
      Description: "ADF - Pipeline Management - Create or Update Rule"
      Environment:
        Variables:
          ACCOUNT_ID: !Ref AWS::AccountId
          ORGANIZATION_ID: !Ref OrganizationId
          ADF_VERSION: !Ref ADFVersion
          ADF_LOG_LEVEL: !Ref ADFLogLevel
          S3_BUCKET_NAME: !Ref PipelineBucket
      FunctionName: adf-pipeline-management-create-update-rule
      Role: !GetAtt CreateOrUpdateRuleLambdaRole.Arn
    Metadata:
      BuildMethod: python3.12

  CreateRepositoryFunction:
    Type: 'AWS::Serverless::Function'
    Properties:
      Handler: create_repository.lambda_handler
      Description: "ADF - Pipeline Management - Create Repository"
      Environment:
        Variables:
          ACCOUNT_ID: !Ref AWS::AccountId
          ORGANIZATION_ID: !Ref OrganizationId
          ADF_VERSION: !Ref ADFVersion
          ADF_LOG_LEVEL: !Ref ADFLogLevel
          S3_BUCKET_NAME: !Ref PipelineBucket
      FunctionName: adf-pipeline-management-create-repository
      Role: !GetAtt CreateRepositoryLambdaRole.Arn
    Metadata:
      BuildMethod: python3.12

  GeneratePipelineInputsFunction:
    Type: 'AWS::Serverless::Function'
    Properties:
      Handler: generate_pipeline_inputs.lambda_handler
      Description: "ADF - Pipeline Management - Generate Pipeline Inputs"
      Environment:
        Variables:
          ACCOUNT_ID: !Ref AWS::AccountId
          ORGANIZATION_ID: !Ref OrganizationId
          ADF_VERSION: !Ref ADFVersion
          ADF_LOG_LEVEL: !Ref ADFLogLevel
          S3_BUCKET_NAME: !Ref PipelineBucket
          MANAGEMENT_ACCOUNT_ID: !Ref ManagementAccountId
      FunctionName: adf-pipeline-management-generate-pipeline-inputs
      Role: !GetAtt GeneratePipelineInputsLambdaRole.Arn
    Metadata:
      BuildMethod: python3.12

  StoreDefinitionFunction:
    Type: 'AWS::Serverless::Function'
    Properties:
      Handler: store_pipeline_definition.lambda_handler
      Description: "ADF - Pipeline Management - Store Pipeline Definition"
      Environment:
        Variables:
          ACCOUNT_ID: !Ref AWS::AccountId
          ORGANIZATION_ID: !Ref OrganizationId
          ADF_VERSION: !Ref ADFVersion
          ADF_LOG_LEVEL: !Ref ADFLogLevel
          S3_BUCKET_NAME: !Ref PipelineDefinitionBucket
          MANAGEMENT_ACCOUNT_ID: !Ref ManagementAccountId
      FunctionName: adf-pipeline-management-store-pipeline-definition
      Role: !GetAtt StoreDefinitionLambdaRole.Arn
    Metadata:
      BuildMethod: python3.12

  IdentifyOutOfDatePipelinesFunction:
    Type: 'AWS::Serverless::Function'
    Properties:
      Handler: identify_out_of_date_pipelines.lambda_handler
      Description: "ADF - Pipeline Management - Identify Out Of Date Pipelines"
      Environment:
        Variables:
          ACCOUNT_ID: !Ref AWS::AccountId
          ORGANIZATION_ID: !Ref OrganizationId
          ADF_VERSION: !Ref ADFVersion
          ADF_LOG_LEVEL: !Ref ADFLogLevel
          MANAGEMENT_ACCOUNT_ID: !Ref ManagementAccountId
          S3_BUCKET_NAME: !Ref PipelineManagementBucket
          ADF_PIPELINE_PREFIX: !Ref PipelinePrefix
      FunctionName: adf-pipeline-management-identify-out-of-date-pipelines
      Role: !GetAtt IdentifyOutOfDatePipelinesLambdaRole.Arn
    Metadata:
      BuildMethod: python3.12

  PipelineDefinitionBucket:
    Type: "AWS::S3::Bucket"
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      AccessControl: BucketOwnerFullControl
      OwnershipControls:
        Rules:
          - ObjectOwnership: BucketOwnerEnforced
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      VersioningConfiguration:
        Status: Enabled
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  DefinitionBucketParameter:
    Type: "AWS::SSM::Parameter"
    Properties:
      Name: "/adf/pipeline_definition_bucket"
      Type: "String"
      Value: !Ref PipelineDefinitionBucket

  PipelineManagementBucket:
    Type: "AWS::S3::Bucket"
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      AccessControl: BucketOwnerFullControl
      OwnershipControls:
        Rules:
          - ObjectOwnership: BucketOwnerEnforced
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      VersioningConfiguration:
        Status: Enabled
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  StateMachineFailureAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ComparisonOperator: GreaterThanThreshold
      EvaluationPeriods: 1
      MetricName: "ExecutionsFailed"
      Namespace: "AWS/States"
      Dimensions:
        - Name: "StateMachineArn"
          Value: !Ref PipelineManagementStateMachine
      Period: 60
      Statistic: Sum
      Threshold: 1
      TreatMissingData: notBreaching
      Unit: Count

Outputs:
  Bucket:
    Value: !Ref PipelineManagementBucket

  DefinitionBucket:
    Value: !Ref PipelineDefinitionBucket

  CreateOrUpdateRuleLambdaRoleArn:
    Value: !GetAtt CreateOrUpdateRuleLambdaRole.Arn

  CreateRepositoryLambdaRoleArn:
    Value: !GetAtt CreateRepositoryLambdaRole.Arn
